.loginpage
  height: 100%

/*accjh.css*/
.ajhdiv
  background-color: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  display: none
  overflow-y : scroll

.ajh1
  width: 300px
  height:200px
  background-color: #FFFFFF
  margin: 250px auto
  position: relative
  font-size: 12px

.ajh1 span.dvsp
  position: absolute
  right: 10px
  top:10px
  font-size: 20px
  color: #ccc
  display: block
  width: 20px
  height: 20px
  border-radius: 10px
  border: 1px solid #ccc
  text-align: center
  line-height: 22px
  cursor: pointer

.ajh1 .dvsp:active
  right: 10px
  top:11px

.ajh1 p
  display: inline-block
  width: 300px
  margin: 20px 0 0 0
  font-size:17px
  text-align: center

.ajh2 ul li
  width: 300px
  text-align: center
  height: 30px
  margin: 5px 0 0 0

.ajh2 ul li a
  color: red

.ajh2 ul li .inps
  width: 90px
  height: 25px
  border-radius: 1px

.ajh2 ul li button
  border: 1px solid #696969
  border-radius: 4px

.ajh2 ul li button:active
  position: relative
  top: 1px

.ajh2 ul li .qr
  width: 40px
  height: 24px
  margin: 0 0 0 -1px
  border-radius: 1px

.ajh2 ul li .bsend
  width: 50px
  height: 20px
  margin: 0 0 0 10px
  border-radius: 3px

/*alertmsg*/
.divmsg
  background-color: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  display: none
  overflow-y : scroll

.divinfo
  width: 300px
  height:200px
  background-color: #FFFFFF
  margin: 250px auto
  position: relative

.divinfo span.dvsp
  position: absolute
  right: 10px
  top:10px
  font-size: 20px
  color: #ccc
  display: block
  width: 20px
  height: 20px
  border-radius: 10px
  border: 1px solid #ccc
  text-align: center
  line-height: 22px
  cursor: pointer

.divinfo .dvsp:active
  right: 10px
  top:11px

.divinfo p
  display: inline-block
  width: 300px
  margin: 20px 0 0 0
  font-size:17px
  text-align: center

.getinfo ul li
  width: 300px
  text-align: center
  height: 30px
  margin: 5px 0 0 0

.getinfo ul li a
  color: red

.getinfo ul li .inps
  width: 90px
  height: 25px
  border-radius: 1px

.getinfo ul li button
  border: 1px solid #696969
  border-radius: 4px

.getinfo ul li button:active
  position: relative
  top: 1px

.getinfo ul li .qr
  width: 40px
  height: 24px
  margin: 0 0 0 -1px
  border-radius: 1px

.getinfo ul li .bsend
  width: 50px
  height: 20px
  margin: 0 0 0 10px
  border-radius: 3px

/*down.css*/
.download
  float:left
  margin:27px 0 0 -40px
  padding: 0 0 0 10px
  width: 110px
  height: 25px
  border-left: 2px solid #ffffff

.download a
  color:#ffffff
  font-size: 18px
  font-weight: bolder

/*lmid.css*/
.lmid
  clear: both

.logink
  width 300px
  height 330px
  float right
  margin 65px 100px 0 0
  background-color rgba(24, 147, 188, 0.3)
  font-size 15px

.logink ul.logul
  width: 250px
  height: 330px
  display:inline-block
  margin:0 0 0 25px

.logink ul.logul li
  width: 250px
  height: 80px
  float: left
  h5
    width 250px
    height 80px
    line-height 80px
    display inline-block
    font-size 20px
    text-align center
    color #FFFFFF

.logink ul.logul li .inp
  width 250px
  height 40px
  border-radius 0

.logink ul.logul li .logina
  width 70px
  height 40px
  line-height 40px
  display inline-block
  float right
  font-size: 15px
  color: #FFFFFF

.logink ul.logul li .logina:active
  position: relative
  top:1px

.logink ul.logul li .errmsg
  font-weight: bolder
  width 180px
  height 40px
  line-height 40px
  font-size: 12px
  display inline-block
  float left
  color: red

.formbnt
  width: 250px
  height: 30px
  line-height 30px
  margin: 5px 0 5px 0
  display: inline-block
  cursor: pointer
  text-align: center
  border-radius: 5px
  background-color: #ffffff
  color: #000000
  float left

.formbnt:hover
  color: #ffffff
  background-color: #00A6F4

.formbnt:active
  position: relative
  top: 1px

/*ltop.css*/
.toper
  height:80px
  background-color: #4391BD
  margin: 0 auto
  position: relative
  box-shadow: 0 3px 3px #979797

/*rmid.css*/
.rmid
  clear: both
  height:90%
  overflow:hidden
  background-color: #4F9BD3

.loginr
  width: 470px
  height: 400px
  margin: 70px auto
  font-size: 16px

.loginr ul li
  width: 470px
  height: 35px
  margin: 20px auto
  display: inline-block
  position: relative

.loginr .inpr
  margin: 0 0 0 10px
  width: 250px

.loginr .inpry
  margin: 0 10px 0 25px
  width: 150px

.loginr ul li img
  position: absolute
  top:1px
  right: 130px
  width: 80px
  height:25px
  cursor: pointer
  background-color: #ffffff

.gorest
  background-color: #169BD5
  display: inline-block
  width: 150px
  height: 50px
  border-radius: 5px
  text-align: center
  color: #ffffff
  line-height: 50px
  margin: 0 0 0 20px

.gorest:active
  position: relative
  top: 1px

.viad
  font-size: 12px
  color: red

.laa
  font-weight: bolder
  margin: 0 10px 0 0
  font-size: 15px
  color: #000011
  display: inline-block
  width: 70px

.loginr .inprya
  margin: 0 10px 0 10px
  width: 150px

.hqyzm
  width: 100px
  height: 30px
  margin: 0 0 0 10px
  display: inline-block
  cursor: pointer
  text-align: center
  border-radius: 5px
  border: 1px solid #cccccc
  color: #000000
  font-size: 13px

.hqyzm:active
  position: relative
  top:1px

.jylog
  height: 35px
  margin: 10px auto
  display: inline-block
  position: relative
  font-size: 16px

.toper1
  width :150px
  height :80px
  float :left
  img
    width :50px
    height :50px
    display :inline-block
    float :right
    margin :15px 0 0 0

.toper2
  width :150px
  height :80px
  font-size :25px
  text-align :center
  line-height :80px
  float :left
  color: #FFFFFF

.toper3
  width :150px
  height :80px
  float :left
  img
    width :150px
    height :35px
    display :inline-block
    float :left
    margin :10px 0 0 0

.toper3
  span
    width :150px
    height :20px
    display :inline-block
    float :left
    font-size :13px
    text-align :center
    color: #FFFFFF

.toper4
  width :600px
  height :80px
  line-height :80px
  float: left
  font-size :18px
  margin :0 0 0 20px
  color: #FFFFFF

.toper5
  width :150px
  height :80px
  float :left
  position :relative
  ul
    display :inline-block
    width :120px
    height :40px
    float :left
    margin :20px 0 0 15px
    li
      width :118px
      height :38px
      border :1px solid #000000
      float :left
      span
        width :100px
        height :36px
        line-height :36px
        color :#FFFFFF
        text-align :center
        float :left
        display :inline-block
        font-size :15px

.toper5
  i
    width: 20px
    height: 36px
    font-size: 15px
    line-height: 36px
    margin: 20px 0 0 0
    display: inline-block
    position: absolute
    color: #fff
    top: 0
    right: 20px
    font-style: normal

.toper6
  background-image: url('../../image/bgc.jpg')
  background-repeat:no-repeat
  height :500px

.footers
  margin :20px 0 0 0
  height :60px
  background-color:#4391bd
  text-align :center
  color: #FFFFFF
  font-size :15px
  line-height :60px

.toimgul
  width 400px
  height 60px
  display inline-block
  margin 400px 0 0 200px
  float left
  li
    float left
    height 60px
    width 60px
    margin 0 0 0 30px

.topxtk
  width  80px
  position fixed
  top 90px
  left 130px

.topxful
  display inline-block
  border-radius 10px
  background-color #FFFFFF
  width 80px
  height 180px
  li
    width 80px
    height 30px
    line-height 30px
    float left
    text-align center
    font-size 14px
    a
      color #000000

.topxful
  li:hover
    background-color #cccccc

.topxfimg
  width 30px
  height 30px
  display inline-block
  float left
  margin 0 0 0 25px
  cursor pointer

.toper7
  height 950px
  background-color #FFFFFF

.toper7a
  width 1050px
  height 400px
  float left
  margin 60px 0 0 200px

.toper7b
  width 1050px
  height 40px
  float left
  h1
    width 1050px
    height 40px
    line-height 40px
    display inline-block
    font-size 20px
    color #000

.toper7b
  width 1050px
  height 40px
  float left
  h2
    width 1050px
    height 40px
    line-height 40px
    display inline-block
    font-size 20px
    color #000
    text-align right

.toper7e
  width 100px
  height 20px
  line-height 20px
  text-align center
  color #000
  display inline-block
  float left
  margin 10px 0 0 20px
  span
    display inline-block
    width 80px
    height 20px
    float left

.toper7e
  .toper7img
    width 20px
    height 20px
    float left
    display inline-block

.toper7f
  width 100px
  height 20px
  line-height 20px
  text-align center
  color #000
  display inline-block
  float right
  margin 10px 0 0 20px
  span
    display inline-block
    width 80px
    height 20px
    float left

.toper7f
  .toper7img
    width 20px
    height 20px
    float left
    display inline-block

.toper7c
  width 820px
  height 250px
  display inline-block
  float left
  box-shadow 5px 5px 20px #888888
  .toper7ch
    width 820px
    height 35px
    float left
    text-align center
    line-height 35px
    span
      display inline-block
      float left
      width 270px
      height 35px
      line-height 35px
      font-size 15px

.toper7g
  width 820px
  height 250px
  display inline-block
  float right
  box-shadow 5px 5px 20px #888888
  .toper7ch
    width 820px
    height 35px
    float left
    text-align center
    span
      display inline-block
      float left
      width 270px
      height 35px
      font-size 15px
      line-height 35px

.toper7d
  float left
  width 270px
  height 35px
  overflow hidden

//-----------------8
.toper8
  height 950px
  background linear-gradient(to right,#387ED6, #01CFFE)

.toper8a
  width 1050px
  height 400px
  float left
  margin 60px 0 0 200px

.toper8b
  width 1050px
  height 40px
  float left
  h1
    width 1050px
    height 40px
    line-height 40px
    display inline-block
    font-size 20px
    color #FFFFFF

.toper8b
  width 1050px
  height 40px
  float left
  h2
    width 1050px
    height 40px
    line-height 40px
    display inline-block
    font-size 20px
    color #FFFFFF
    text-align right

.toper8e
  width 100px
  height 20px
  line-height 20px
  text-align center
  color #FFFFFF
  display inline-block
  float left
  margin 10px 0 0 20px
  span
    display inline-block
    width 80px
    height 20px
    float left

.toper8e
  .toper8img
    width 20px
    height 20px
    float left
    display inline-block

.toper8f
  width 100px
  height 20px
  line-height 20px
  text-align center
  color #FFFFFF
  display inline-block
  float right
  margin 10px 0 0 20px
  span
    display inline-block
    width 80px
    height 20px
    float left

.toper8f
  .toper8img
    width 20px
    height 20px
    float left
    display inline-block

.toper8c
  width 820px
  height 250px
  display inline-block
  float left
  box-shadow 5px 5px 20px #888888
  background-color #FFFFFF
  .toper8ch
    width 820px
    height 35px
    float left
    text-align center
    line-height 35px
    span
      display inline-block
      float left
      width 270px
      height 35px
      line-height 35px
      font-size 15px

.toper8g
  width 820px
  height 250px
  display inline-block
  float right
  box-shadow 5px 5px 20px #888888
  background-color #FFFFFF
  .toper8ch
    width 820px
    height 35px
    float left
    text-align center
    span
      display inline-block
      float left
      width 270px
      height 35px
      font-size 15px
      line-height 35px

.toper8d
  float left
  width 270px
  height 35px
  overflow hidden
