.Cyspjmid
  width 450px
  height 405px
  border-radius 15px
  position absolute
  top 120px
  left 150px
  z-index 102
  background-color #FFFFFF

.cpj1
  width 100px
  height 100px
  background-image linear-gradient(135deg,#014769 71px,transparent 0)
  background-size 100px
  border-radius 15px 0 0 0
  float left
  span
    width 35px
    height 35px
    display inline-block
    float left
    margin 15px 0 0 15px
    line-height 15px
    color #FFFFFF
    cursor pointer

.cpj1
  span:active
    position relative
    top 1px

.cpj1
  h5
    width 60px
    height 30px
    float left
    line-height 30px
    font-weight normal
    margin 20px 0 0 40px

.cpj2
  width 350px
  height 100px
  line-height 100px
  padding 0 0 0 85px
  font-size 17px
  font-weight bold
  float left

.cpj3
  width 410px
  height 30px
  float left
  ul
    display inline-block
    width 300px
    float left
    margin 0 0 0 40px
    li
      width 60px
      float left
      height 30px
      line-height 30px

.cpj4
  width 410px
  height 30px
  float left
  margin 0 0 0 40px

.cpj5
  width 450px
  height 165px
  float left

.cpj9
  width 380px
  height 30px
  line-height 30px
  float left
  margin 0 0 0 40px

.cpj10
  width 380px
  height 135px
  float left
  overflow-y scroll
  border 1px solid #EEEEEE
  background-color #EEEEEE
  margin 0 0 0 40px
  overflow-x hidden
  li
    width 360px
    height 60px
    float left
    margin 5px 0 0 0
    background-color #FFFFFF
    h6
      display inline-block
      width 80px
      height 20px
      line-height 20px
      float right

.cpj11
  width 350px
  float left
  height 40px
  line-height 20px
  margin 0 0 0 15px


.cpj6
  width 450px
  float left
  height 50px

.cpj7
  width 80px
  height 30px
  line-height 30px
  color #FFFFFF
  background-color #0185c2
  border-radius 10px
  float left
  margin 10px 0 0 100px
  text-align center

.cpj7:hover
  background-color #164f6c

.cpj7:active
  position relative
  top 1px

.cpj8
  width 80px
  height 30px
  line-height 30px
  color #000000
  background-color #cccccc
  border-radius 10px
  float right
  margin 10px 100px 0 80px
  text-align center

.cpj8:hover
  background-color #333333

.cpj8:active
  position relative
  top 1px

.cpj12
  width 410px
  height 30px
  float left
  margin 0 0 0 40px;

.cpj13
  width 120px
  height 30px
  float left
  h6
    width 50px
    height 30px
    display inline-block
    line-height 30px
    float left
    font-weight normal

.cpj13
  span
    display inline-block
    width 70px
    height 30px
    line-height 30px
    float left

/*-----------------------*/

.yspjmid
  width 320px
  height 375px
  border-radius 15px
  position absolute
  top 120px
  left 150px
  z-index 102
  background-color #FFFFFF

.ypj1
  width 100px
  height 100px
  background-image linear-gradient(135deg,#014769 71px,transparent 0)
  background-size 100px
  border-radius 15px 0 0 0
  float left
  span
    width 35px
    height 35px
    display inline-block
    float left
    margin 15px 0 0 15px
    line-height 15px
    color #FFFFFF
    cursor pointer

.ypj1
  span:active
    position relative
    top 1px

.ypj1
  h5
    width 60px
    height 30px
    float left
    line-height 30px
    font-weight normal
    margin 20px 0 0 40px

.ypj2
  width 220px
  height 100px
  line-height 100px
  padding 0 0 0 20px
  font-size 17px
  font-weight bold
  float left

.ypj3
  width 320px
  height 30px
  float left
  ul
    display inline-block
    width 280px
    float left
    margin 0 0 0 40px
    li
      width 60px
      float left
      height 30px
      line-height 30px

.ypj4
  width 280px
  height 30px
  float left
  margin 0 0 0 40px

.ypj5
  width 320px
  height 165px
  float left

.ypj5
  textarea
    color #000
    height 100px
    width 240px
    overflow hidden
    resize none
    margin 10px 0 0 40px
    float left
    border 1px solid #d9d9d9

.ypj9
  width 280px
  height 30px
  line-height 30px
  float left
  margin 0 0 0 40px

.ypj6
  width 320px
  float left
  height 50px

.ypj7
  width 80px
  height 30px
  line-height 30px
  color #FFFFFF
  background-color #0185c2
  border-radius 10px
  float left
  margin 10px 0 0 50px
  text-align center

.ypj7:hover
  background-color #164f6c

.ypj7:active
  position relative
  top 1px

.ypj8
  width 80px
  height 30px
  line-height 30px
  color #000000
  background-color #cccccc
  border-radius 10px
  float right
  margin 10px 50px 0 50px
  text-align center

.ypj8:hover
  background-color #333333

.ypj8:active
  position relative
  top 1px

/*------------*/
.Ptyjpj
  width 450px
  height 405px
  border-radius 15px
  position fixed
  top 100px
  left 400px
  z-index 102
  background-color #FFFFFF

.Ptyjpj1
  width 100px
  height 100px
  border-radius 15px 0 0 0
  float left
  span
    width 35px
    height 35px
    display inline-block
    float left
    margin 15px 0 0 15px
    line-height 15px
    color #FFFFFF
    cursor pointer

.Ptyjpj1
  h5
    width 60px
    height 30px
    float left
    line-height 30px
    font-weight normal
    margin 20px 0 0 40px

/*------------*/
.gclb
  width 180px
  height 80px
  position absolute
  z-index 100

.gclb1
  width 180px
  height 40px
  background-color #52B0E4

.cwbhactc1
  display inline-block
  width 180px
  height 30px
  line-height 30px
  color #000000
  text-align center
  font-size 15px

.cwbhactc1:hover
  background-color #367499
  color #FFFFFF

