.deppage
  height :100%

.depmid
  width: 1050px
  margin: 10px auto
  .dep1
    font-size: 15px
    margin: 30px auto 0 auto
    height: 30px
    background-color :#4392BD
    ul
      li
        width :200px
        margin :0 0 0 10px
        height :30px
        line-height :30px
        float :left
        color:#ffffff

.dep2
  width: 1050px
  display: flex
  .dep3
    width: 1050px
    font-size: 14px
    li
      width: 1030px
      height: 45px
      background-color: #fff
      font-size: 14px

.dep2
  .dep3
    li.dep4
      width: 1050px
      height: 50px
      background-color:#ccc

.dep6
  width: 170px
  text-align: center;
  height :50px
  line-height :50px
  float :left
  overflow :hidden






