.meetpage
  height :100%

.meetmid
  width: 1050px
  margin :20px auto
  .memid1
    height :50px
    h2
      font-size :20px

.memid2
  li
    height :50px
    line-height :50px
    border-bottom :1px dashed grey
    .memid3,.memid4,.memid5,.memid6
      float :left
      height :50px
      font-size :15px

.memid3
  width :400px

.memid4
  width :200px
  text-align :center

.memid5
  width :200px
  text-align :center

.memid6
  width :250px
  text-align :center
  a
    width :60px
    height :20px
    line-height :20px
    color :#666
    border :1px solid #666
    border-radius :10px
    font-size :12px
    float :right
    margin :15px 0 0 2px
    display :inline-block

.memid6
  a:active
    position :relative
    top:1px