.supplierpage
  height: 100%

/*sseach.css*/
.supmid
  margin 10px auto
  width 1200px

.supn
  width: 1200px
  background-color: #67C8FF

.supn1
  height: 43px
  border-bottom: 1px solid #000000

.supn1
  ul
    li
      width 300px
      height 40px
      display inline-block
      float left
      h5
        width 100px
        height 40px
        display inline-block
        float left
        text-align right
        font-size 15px
        line-height 40px
        color #000
        font-weight normal

.supinps
  margin 5px 0 0 15px

.supn2
  height: 43px

.supn2
  ul
    li
      width 300px
      height 40px
      line-height 40px
      display inline-block
      float right

.supbuts
  background-color #5895b2
  display inline-block
  width 60px
  height 30px
  margin 0 10px;
  box-shadow: 0 1px 1px #000
  line-height 30px
  text-align center
  color #000
  font-size 15px

/*sdetils.css*/
.supdet
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.supdet1
  width: 750px
  height: 400px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left

.supdet1 a.close
  position: absolute
  top:3px
  right: 3px
  width: 20px
  height: 20px
  display: inline-block
  color:#CECECE
  font-size: 20px
  line-height: 25px
  text-align: center
  font-weight: bolder

.supdet1 a.close:active
  position: absolute
  top:4px

.supdet2
  width: 700px
  height: 400px
  margin: 0 auto
  font-size: 15px

.supdet3
  height: 50px
  border-bottom: 1px solid #000000

.supdet3 span
  width: 370px
  height: 49px
  float: left
  display: inline-block
  font-size: 17px
  line-height: 50px
  margin-left:30px
  color: #000000

.supdet3 ul
  width: 300px
  height: 50px
  float: left
  display: inline-block
  text-align: center

.supdet3 ul li
  width: 60px
  height: 48px
  line-height: 48px
  float: left
  display: inline-block
  margin: 0 0 0 5px
  background-color: #EEEEEE

.supdet3 ul li a
  width: 50px
  height: 30px
  display: inline-block
  line-height:30px
  border-radius: 5px
  color: #000000
  font-size: 17px
  background-color :#67c8ff

.supdet4
  width: 700px
  height: 350px

.supdet4 ul li
  width: 350px
  height: 50px
  line-height: 50px
  float: left
  margin: 10px auto
  font-size: 16px

.supdet4 ul li span
  width: 100px
  height: 50px
  display: inline-block
  text-align: right
  float: left

.supdet4 ul li p
  width: 230px
  height: 50px
  display: inline-block
  overflow: hidden
  float: left
  margin-left: 15px

.supdet4 ul li p.supdet5
  width: 50px
  height: 30px
  color: #34ACCF
  font-weight: bolder
  line-height: 30px
  text-align: center
  margin: 10px 0 0 15px

/*snew.css*/
.supp
  height: 70px
  background-color: #4E93BA
  font-size: 15px
  margin: 20px 0 0 0

.supp1
  width: 90px
  height: 60px
  background-color: #005983
  box-shadow: 0 1px 1px 0 #000000
  float: left

.supp1 a
  display: inline-block
  width: 70px
  height: 50px
  color: #ffffff
  font-size: 18px
  line-height: 20px
  margin: 10px 0 0 15px
  letter-spacing: 2px

.supp1 a:active
  position: relative
  top: 1px

.supp2
  width: 950px
  height: 55px
  float: right
  color: #fff
  margin: 10px 0 0 0
  font-size: 12px

/*snewadd.css*/
.supadd
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.supadd1
  width: 750px
  height: 500px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left
  box-shadow 0 0 1px 1px #888888
  border-radius 10px

.supadd1 a.close
  position: absolute
  top:3px
  right: 3px
  width: 20px
  height: 20px
  display: inline-block
  color:#CECECE
  font-size: 20px
  line-height: 25px
  text-align: center
  font-weight: bolder

.supadd1 a.close:active
  position: absolute
  top:4px

.supadd2
  width: 700px
  height: 500px
  margin: 0 auto
  font-size: 15px

.supadd3
  height: 50px
  border-bottom: 1px solid #000000

.supadd3 span
  width: 470px
  height: 49px
  float: left
  display: inline-block
  font-size: 17px
  line-height: 50px
  margin-left:30px
  color: #000000

.supadd3 ul
  width: 200px
  height: 50px
  float: left
  display: inline-block
  text-align: center

.supadd3 ul li
  width: 60px
  height: 48px
  line-height: 48px
  float: left
  display: inline-block
  margin: 0 0 0 5px
  background-color: #EEEEEE

.supadd3 ul li a
  width: 50px
  height: 30px
  display: inline-block
  line-height:30px
  border-radius: 5px
  color: #000000
  font-size: 17px
  background-color :#67c8ff

.supadd4
  width: 700px
  height: 180px

.supadd4 ul
  width: 700px
  height: 180px

.supadd4 ul li
  width: 700px
  height: 35px

.supadd4 ul li span.suph
  width: 150px
  height: 35px
  display: inline-block
  line-height: 35px
  text-align: right
  margin:0 10px 0 0
  float: left

.supadd4 ul li p
  width: 500px
  height: 35px
  display: inline-block
  line-height: 35px
  overflow: hidden
  float: left

.supadd4 ul li a
  width: 50px
  height: 30px
  display: inline-block
  float: left
  margin: 5px 0 0 20px
  line-height: 30px
  color: #ffffff
  background-color: #4392BD
  text-align: center

.supadd4 ul li a:active
  position: relative
  top: 1px

.supinp
  float: left
  margin: 5px 0 0 0

.supadd5
  width: 700px
  height: 70px
  margin: 20px 0 10px 0

.supadd6
  width: 300px
  height: 35px
  float: left

.supadd6 h5
  width: 60px
  height: 30px
  display: inline-block
  text-align: right
  margin: 0 10px 0 0
  font-weight: normal

.supadd7
  width: 300px
  height: 35px
  float: left
  h5
    width 60px
    height 30px
    display inline-block
    text-align right
    margin 0 5px 0 0
    font-weight normal

.supadd8
  width:700px
  height: 100px

.supadd8 span
  width: 60px
  height: 30px
  display: inline-block
  text-align: right
  float: left

.supadd8 textarea
  color:#000000
  height:100px
  width: 550px
  overflow: hidden
  resize: none
  margin-left: 10px
  border: 1px solid #D9D9D9

.supadd20
  height 50px
  .supadd21
    height:50px
    float :left
    .supadd23
      height :25px
      border-bottom :1px solid #000000
      width :290px

.supadd22
  border-left :1px solid #000000
  border-right :1px solid #000000
  width :120px
  height : 50px
  float : left
  text-align :center
  font-size : 20px
  line-height :50px
  color :#000000

.supadd24
  width :300px
  height :70px
  float :left

.supadd25
  width :400px
  float :left
  text-align :left
  height :70px
  color :red
  font-size:14px
  line-height :35px

/*suplist.css*/
.suplist
  background-color #4E93BA
  display flex

.suplistul
  width 1170px
  margin 10px 40px
  font-size 13px

.suplistul
  .supl1
    width 1120px
    height 50px
    background-color #67C8FF

.supl1
  li
    width 145px
    height 50px
    background-color #67C8FF
    float left
    line-height 50px
    text-align center
    font-size 15px
    color #000011

.suplistul
  .supls
    float left
    background-color #E9F1F3
    margin 5px 0 0 0
    height 70px
    width 1120px

.suplistul
  .supl2
    float left
    width 145px
    text-align center
    line-height 70px
    height 70px
    font-size 15px
    overflow hidden

.suplistul .supl3
  width: 30px
  height: 70px
  text-align: left
  line-height: 70px
  float: left
  font-size: 25px
  color:#529CB5

.suplistul .supl3:active
  position: relative
  top: 1px

.suplistul .supl4
  float: left
  width: 2px
  height: 35px
  margin: 17px 0 0 0
  border-right: 2px solid #CDCDCD

.suplistul .supl5
  width: 25px
  height: 25px
  display: inline-block
  float: left
  margin: 20px 0 0 10px
  background-image: url(../../image/del.png)

.suplistul .supl5:active
  position: relative
  top: 1px

.suplsone
  height :30px
  line-height :30px
  color :red
  text-align :center
  font-size :13px

.supha
  margin 5px 0 0 20px
  float left

.saddcompall
  width 730px
  height 350px
  position absolute
  top 80px
  left 10px
  z-index 101

.saddcomp
  width 370px
  height 350px
  float left
  background-color #FFFFFF
  box-shadow:3px 3px 3px #BDBDBD

.saddcomp1
  width 370px
  height 30px
  .closesadd
    float right
    width: 20px
    height: 20px
    margin :3px 5px 0 0
    display: inline-block
    color:#CECECE
    font-size: 20px
    line-height: 25px
    text-align: center
    font-weight: bolder

.saddcomp1 a.closesadd:active
  position: relative
  top:1px

.saddcomp2
  width 370px
  height 30px
  .saddcompa
    float left
    border-radius 1px
    margin 0 0 0 10px

.saddcompb
  width: 50px
  height: 30px
  display: inline-block
  float: left
  margin: 0 0 0 5px
  line-height: 30px
  color: #ffffff
  background-color: #4392BD
  text-align: center

.saddcomp3
  width 350px
  height 280px
  margin 5px 0 0 10px
  overflow-y scroll

.saddcompc
    width: 330px
    height: 30px
    line-height: 30px
    float: left
    font-size 14px
    display: inline-block
    overflow hidden
    cursor pointer
    h5
      width 80px
      height 30px
      line-height 30px
      display inline-block
      float left
      font-weight normal

.saddcompc
  span
    width 188px
    height 30px
    line-height 30px
    display inline-block
    float left
    margin 0 0 0 10px

.saddcompc
  h4
    width 200px
    height 30px
    line-height 30px
    display inline-block
    float left
    font-weight normal

.saddcompd
  display inline-block
  float left
  width 80px
  height 30px
  line-height 30px
  text-align center
  overflow hidden

.saddcompe
  cursor pointer
  width 200px
  height 30px
  line-height 30px
  text-align left
  display inline-block
  overflow hidden

.saddcompc span:hover
  background-color #9DDBFA

.saddxz
  background-color #9DDBFA

.saddcompr
  width 350px
  height 350px
  float right
  background-color #FFFFFF
  box-shadow:3px 3px 3px #BDBDBD

.saddcompr1
  width 350px
  height 30px
  .closesaddr
    float right
    width: 20px
    height: 20px
    margin :3px 5px 0 0
    display: inline-block
    color:#CECECE
    font-size: 20px
    line-height: 25px
    text-align: center
    font-weight: bolder

.saddcompr1 a.closesadd:active
  position: relative
  top:1px

.saddcompr2
  width 350px
  height 30px
  .saddcompra
    float left
    border-radius 1px
    margin 0 0 0 10px

.saddcompr2
  span
    display inline-block
    width 200px
    height 30px
    margin 0 0 0 20px
    line-height 30px
    font-weight bold

.saddcomprb
  width: 50px
  height: 30px
  display: inline-block
  float: left
  margin: 0 0 0 5px
  line-height: 30px
  color: #ffffff
  background-color: #4392BD
  text-align: center

.saddcompr3
  width 350px
  height 280px
  margin 5px 0 0 10px
  overflow-y scroll

.saddcomprc
  width: 330px
  height: 30px
  line-height: 30px
  float: left
  font-size 14px
  display: inline-block
  overflow hidden

.saddcomprc .saddcompe:hover
  background-color #9DDBFA

.saddcomp4
  width 50px
  height 30px
  float left
  img
    width 24px
    height 24px
    display inline-block
    float left
    margin 1px 0 0 1px
