.employeepage
  height: 100%

/*emadd.css*/
.emmid
  width 1200px
  margin 10px auto

.emad
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.emad1
  width: 560px
  height: 300px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left
  border-radius 20px

.emad2
  width: 510px
  height: 300px
  margin: 0 0 0 25px
  font-size: 14px

.emad3
  height: 60px

.emad3
  span
    width 340px
    height 60px
    float left
    display inline-block
    font-size 17px
    line-height 50px
    margin-left 30px
    color #000000

.emad3
  ul
    width 140px
    height 60px
    float left
    display inline-block
    text-align center
    li
      width 60px
      height 60px
      line-height 60px
      float left
      display inline-block
      margin 0 0 0 10px

.emad5
  width: 60px
  height: 30px
  display: inline-block
  line-height: 30px
  border-radius: 5px
  color: #ffffff
  font-size: 14px
  background-color :#0092d7
  float left
  margin 15px 0 0 0

.emad6
  width: 60px
  height: 30px
  display: inline-block
  line-height: 30px
  border-radius: 5px
  color: #000000
  font-size: 14px
  background-color :#cccccc
  float left
  margin 15px 0 0 0

.emad7
  height 50px

.emad8
  width 80px
  height 50px
  text-align right
  line-height 50px
  float left

.emad7
  .emad9
    float left
    width 390px
    margin 10px 0 0 15px

.emad4
  height 190px

.emad4
  ul
    li
      width 255px
      height 50px
      margin 10px 0 0 0
      float left
.emad4
  .emad10
    float left
    width 135px
    margin 10px 0 0 15px

.emcolor
  width 20px
  text-align left
  display inline-block
  height 30px
  float right
  line-height 40px
  font-size 20px
  color #f00
  margin 10px 0 0 0

/*emdel.css*/
.emds
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.emds1
  width: 560px
  height: 500px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left

.emds2
  width: 510px
  height: 500px
  margin: 0 0 0 25px
  font-size: 14px

.emds3
  height: 60px

.emds3
  span
    width 260px
    height 60px
    float left
    display inline-block
    font-size 17px
    line-height 50px
    margin-left 30px
    color #000000

.emds3
  ul
    width 220px
    height 60px
    float left
    display inline-block
    text-align center
    li
      width 60px
      height 60px
      line-height 60px
      float left
      display inline-block
      margin 0 0 0 10px

.emds6
  width: 60px
  height: 30px
  display: inline-block
  line-height: 30px
  border-radius: 5px
  color: #ffffff
  font-size: 14px
  background-color :#0092d7
  float left
  margin 15px 0 0 0

.emds7
  width: 60px
  height: 30px
  display: inline-block
  line-height: 30px
  border-radius: 5px
  color: #000000
  font-size: 14px
  background-color :#cccccc
  float left
  margin 15px 0 0 0

.emds8
  height 50px
  p
    float left
    display inline-block
    width 390px
    height 50px
    line-height 50px
    margin 0 0 0 15px

.emds9
  width 80px
  height 50px
  text-align right
  line-height 50px
  float left

.emds4
  height 150px

.emds4
  ul
    li
      width 255px
      height 50px
      float left
      p
        width 135px
        height 30px
        margin 10px 0 0 15px
        float left
        line-height 30px

.emsp
  width 80px
  height 40px
  text-align right
  line-height 50px
  float left

.emds4
  .emds10
    float left
    width 135px
    margin 10px 0 0 15px

.emds5
  height 150px
  margin 10px 0 0 0

.emds5
  ul
    width 300px
    height 150px
    display inline-block
    margin 0 0 0 15px
    float left

.emds13
  width: 140px
  height: 25px
  float: left
  text-align: center
  margin 15px 0 0 10px
  border-radius 5px
  border 1px solid #ccc
  color #000000
  background-color #FFFFFF
  cursor pointer

.emds13:hover
  border 2px solid #0092d7

.emds14
  width: 140px
  height: 25px
  float: left
  text-align: center
  margin 15px 0 0 10px
  border-radius 5px
  border 1px solid #ccc
  color #FFFFFF
  background-color #0092d7
  cursor pointer

.emds15
  width 20px
  height 20px
  display inline-block
  float right
  margin 2.5px 2.5px 0 0

.emsp9
  width 80px
  height 40px
  text-align right
  display inline-block
  font-size 15px
  float left
  line-height 45px

.emds12
  width 104px
  height 94px
  display inline-block
  float left
  margin 15px 0 0 0

/*emid.css*/
.emlist
  width: 1200px
  background-color: #4E93BA

.emp
  height: 60px
  width: 1200px
  position relative

.emp1
  width 125px
  height 45px
  line-height 45px
  background-color #005983
  border-radius 10px
  color #FFFFFF
  float right
  font-size 14px
  text-align center
  cursor pointer
  margin 10px 20px 0 0

.emp1:active
  position: relative
  top: 1px

.emp2
  width: 42px
  height: 42px
  float: right
  margin :10px 10px 0 0
  emp4
    width 42px
    height 42px

.emp3
  position absolute
  top -10px
  left 200px
  border-radius 15px
  box-shadow 0 0 10px #333
  width 600px
  height 300px
  background-color #eee
  p
    width 540px
    height 170px
    display inline-block
    float left
    margin 30px 0 0 30px
    line-height 28px
    font-size 14px
    text-indent 26px

.emp3
  .emp5
    width 100px
    height 40px
    line-height 40px
    color #FFFFFF
    background-color #0092d7
    border-radius 10px
    float left
    text-align center
    font-size 15px
    margin 30px 0 0 240px

.emp6
  width 250px
  height 60px
  line-height 60px
  float left
  color #FFFFFF
  font-size 16px
  text-align center

/*eseach.css*/
.eseach
  width: 1200px
  display: inline-block

.eseach .emls
  width: 1200px
  margin: 10px 0 0 0
  font-size: 13px

.eseach .emls .emls1
  width: 1200px
  height: 50px
  background-color: #67C8FF
  box-shadow: 0 1px 1px #000000

.eseach .emls .emls1 ul li
  width: 180px
  height: 50px
  line-height: 50px
  display: inline-block
  float: left
  font-size: 17px
  color: #000011
  text-align: center

.eseach .emls .emls1 ul li.newsx
  width: 100px

.newsx a
  background-color: #5895b2
  display: inline-block
  width: 60px
  height: 30px
  box-shadow: 0 1px 1px #000
  color: #000
  text-align: center
  line-height 30px

.newsx a:active
  position: relative
  top:1px

.emls2
  width: 1180px
  height: 45px
  background-color: #FFFFFF
  margin: 7px 10px
  font-size: 15px

.emls3
  width: 178px
  height: 45px
  float: left
  text-align: center
  line-height: 45px
  overflow: hidden

.emls4
  width: 40px
  height: 35px
  float: left
  text-align: center
  margin: 10px 0 0 0

.emls4 a:active
  position: relative
  top:1px

.emlxq:active
  position: relative
  top:1px

.emls2one
  height :30px
  line-height :30px
  color :red
  text-align :center
  font-size :13px