.Hindex
  height 100%

html body .ant-input::-webkit-input-placeholder
  color #000

html body .ant-input:-moz-placeholder
  color #000

html body .ant-input::-moz-placeholder
  color #000

html body .ant-input:-ms-input-placeholder
  color #000


html body .ant-select-selection__placeholder
  color #757575
