// 公用的类
.text-R
    text-align: right 
.fontSize12
    font-size: 12px
.fontSize14
    font-size: 14px    
.fontSize16
    font-size: 16px
.fontSize18
    font-size: 18px
.fontSize20
    font-size: 20px
.fontSize22
    font-size: 22px

.bg2db7f5
    background #2db7f5
// 发起服务宝是选择服务的框
.newL-choose-bg
    position: fixed
    top: 0
    left: 0
    right 0
    bottom: 0
    background rgba(0,0,0,0.4)
    z-index 100
    .bg-content
        position: absolute
        left: 50%
        top: 30%
        width: 300px
        height 200px
        margin: -100px 0 0 -150px
        padding: 4px 0 0 
        background #eee
        border-radius: 4px
        // z-index 90100
        .bg-content-close
            display block
            height 20px
            padding: 0 10px 0 0
            line-height: 20px
            text-align: right 
            font-size: 18px
            color: #cecece
        .bg-content-tit
            height 20px
            line-height: 20px
            padding: 0 0 0 14px
            margin: -10px 0 0 
        .bg-content-sel
            height 60px
            line-height: 60px
            text-align: center
            .theSel
                text-align: left 
                // z-index 90110
        .bg-content-btn
            height 60px
            padding: 10px
            span 
                display: block
                width: 100px
                height 36px
                text-align: center
                line-height: 36px
                float left
                margin: 0 15px 0
                background #bbb
                color: #000
                cursor pointer

// 服务保函页面
.bh-main
    position: fixed
    top: 0
    left: 0
    right 0
    bottom: 0
    background rgba(0,0,0,0.4)
    z-index 100
    .bh-contant
        position: absolute
        left: 50%
        top: 30%
        width: 600px
        margin: -100px 0 0 -300px
        padding: 4px 0 0 
        background #eee
        border-radius: 4px
        padding: 0 20px
        .bh-contant-tit
            height 54px
            border-bottom: 1px solid  #000
            .bh-contant-tit-left
                float left
                width: 140px
                height 54px
                padding 22px 0 0 
                text-align:center
                font-size: 18px
            .bh-contant-tit-right
                float right 
                display block
                border-radius: 8px
                margin: 14px 10px
                font-size 14px
                height 30px
                line-height: 30px
                padding: 0 10px
                color: #fff
                cursor pointer
            .release 
                background #4392bd
            .close
                background #494949

// 次级页面的搜索栏

.ser-main-cntr
  //主要的容器
  width 1200px
  .ser-main-cntr-search
    height 50px
    background #67c8ff
    .ser-main-cntr-search-left
      float left
      width: 250px
      height 50px
      line-height: 50px
      .ser-main-cntr-search-tit
        float left
        width: 100px
        height 50px
        line-height: 50px
        text-align: right
    .ser-main-cntr-search-right
      float right
      width: 250px
      height 50px
      span 
        float left
        width: 60px
        height 34px
        line-height: 34px
        text-align: center
        margin: 8px 20px 0 0
        background #5895b2
        color: #000
        border-radius: 4px
        cursor pointer
.ser-main-cntr
  .ser-main-column
    padding: 20px 24px 60px 
    background #4391bd
//灰色的背景
.detail-bg
    position: fixed
    top: 0
    left 0
    right 0
    bottom: 0
    background: rgba(0,0,0,0.4)
.detail-content
    position absolute
    top: 12%
    left 50%
    margin: 0  0 0 -370px
    width: 740px
    padding: 22px 26px
    background #fff
    border-radius: 6px
    .detail-content-other
        width: 400px
        height 350px
        position absolute
        left: 140px
        top: 60px
        border: 1px solid #333
        background #fff
        padding-top: 40px
        .detail-content-other-input
            height 30px
            padding-left: 40px
            .input
                float left 
                width: 240px
                height 30px
            .search
                float left
                width: 40px
                line-height: 30px
                height 30px
                margin-left: 20px
                color: #333
                background #56aaff
                text-align: center
        .thisLists
            padding: 20px 20px 0
            height 240px
            overflow-y: scroll
            .lists
                height 36px
                padding-left: 6px
                line-height: 36px
                cursor pointer
            .lists:hover
                background #ccc

    .detail-content-banner
        width:688px 
        height 216px
        img 
            display block
            width: 100%
            height 100%
    .detail-content-tit
        height 60px
        line-height: 60px
    .detail-content-comp
        height 40px
        line-height: 40px
    .detail-content-msg
        margin-bottom: 10px
        .column
            float left
            width: 88px
            font-size 14px
        .tips
            float left
            width 600px
            line-height: 22px
            font-size 14px
    .detail-content-form
        margin-top: 20px
        height 40px
        padding-left: 88px
        .detail-content-surplus
            float left
            height 40px
            line-height: 40px
            font-size: 16px
            padding: 0 30px 0 0
        .detail-content-get
            float left
            a
                height 40px
                line-height: 40px
                text-align: center
                width: 120px
                display: block
                background #56aaff
                font-size: 16px
                border-radius: 6px
                color: #fff
        .detail-content-close
            float left
            margin-left: 70px
            a
                height 40px
                line-height: 40px
                text-align: center
                width: 120px
                display: block
                background #ccc
                font-size: 16px
                border-radius: 6px
                color: #999
        .detail-content-give
            float left
            margin-left: 70px
            a
                height 40px
                line-height: 40px
                text-align: center
                width: 120px
                display: block
                background #1AAD19
                font-size: 16px
                border-radius: 6px
                color: #fff
.toUser
    width: 300px
    height 200px
    background #ffffff
    position fixed
    top: 30%
    left: 50%
    margin: -100px 0 0 -150px
    .user-tit
        height 100px
        text-align: center
        line-height: 100px
        font-size: 16px
    .user-btn
        height 100px
        a
            float left
            width:80px
            height 40px
            margin: 0 30px
            line-height: 40px
            text-align: center
            border-radius: 4px
            font-size: 14px
            cursor pointer
        .togive
            background #56aaff
            color: #fff
        .close
            background #eee
            color: #333
