.homepage
  height: 100%

/*Hfin.css*/
.hf
  height: 200px

.hf .hfa
  height: 35px
  border-bottom: 1px solid #000000

.hf .hfa h4
  font-size: 14px
  display:inline-block
  letter-spacing:5px
  margin:10px 0 0 20px

.hf .hfa a
  float: right
  margin: 10px 20px 0 0
  display: inline-block
  font-size: 14px
  color: #000000

/*Hfone.css*/
.hfb
  width: 970px
  height: 140px
  margin: 10px auto

.hfb .replis
  float: left
  background-color: #E9F1F3
  margin: 5px 0 0 0
  height: 70px
  width: 970px
  color: #000

/*hxxtx.css*/
.hxxtx
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.xxtx
  width: 450px
  height: 350px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left

.xxtx1
  width: 450px
  height: 25px
  background-color: #4392BD
  float: left

.xxtx1 h5
  color:#ffffff
  width: 100px
  height: 25px
  display: inline-block
  line-height: 25px
  margin: 0 0 0 20px
  float:left

.xxtx1 span
  color:#000
  width: 25px
  height: 25px
  display: inline-block
  line-height: 25px
  font-size :20px
  float:right
  cursor :pointer

.xxtx1 span:active
  position: relative
  top :1px

.xxtx2
  height: 265px
  color:#000000
  float: left

.xxtx2 ul li
  width: 150px
  height: 50px
  float: left
  margin: 7px 0 0 0

.xxtx2 ul li h5
  font-weight :normal
  width :80px
  height: 50px
  text-align: center
  display :inline-block
  float :left
  margin :0 0 0 30px

.xxtx3
  height: 35px
  float: right

.xxtx3 a
  width: 50px
  height: 30px
  color: #000011
  margin: 0 25px 0 0

/*hgrxx.css*/
.grxxkan
  float left
  margin: 10px 0 0 0

.hgrxx
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.grxx
  width: 500px
  height: 700px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left

.grxx1
  width: 500px
  height: 50px
  float: left

.grxx1 h5
  width 100px
  height 50px
  font-size 16px
  display inline-block
  line-height 50px
  font-weight normal
  margin 0 0 0 20px

.grxx2
  width 500px
  height: 610px
  color:#000000
  float: left

.grxx2
  ul
    li.grxxlib
      width 250px
      height 40px
      float left
      line-height 40px
      font-size 13px
      img
        width 40px
        height 40px
        margin 0

.grxx2
  .grxxlia
    width 500px
    height 40px
    float left
    line-height 40px
    font-size 13px

.grxx2 .grxxs
  width: 95px
  text-align: right
  color: #000011
  float: left

.grxx2 .grxxs2
  width: 40px
  text-align: right
  color: #000011
  float: left
  font-weight: normal
  margin-left: 5px

.grxx2 .grxxs3
  margin-left: 20px
  float: left

.grxx2 p
  width: 140px
  height: 40px
  display: inline-block
  float: left
  overflow: hidden

.grxx2
  .grxadds
    width 240px
    height 40px
    display inline-block
    float left
    overflow hidden

.grxxrz
  width 120px
  height 30px
  background-color #4BC94E
  border-radius 5px
  color #FFFFFF
  text-align center
  float left
  margin 0 0 0 10px
  font-size 15px
  line-height 30px
  cursor pointer

.grxxrz1
  width 80px
  height 30px
  background-color #cccccc
  border-radius 5px
  color #FFFFFF
  text-align center
  float left
  margin 0 0 0 10px
  font-size 15px
  line-height 30px

.grxxrz2
  width 80px
  height 30px
  border-radius 5px
  color #000000
  text-align center
  float left
  margin 0 0 0 10px
  font-size 15px
  line-height 30px

.grxxrz3
  width 140px
  height 40px
  float left
  span
    line-height 40px
    height 40px
    display inline-block
    float left
    width 70px
    text-align center

.grxxrz4
  color #429041
  text-decoration underline
  display inline-block
  width 70px
  height 40px
  line-height 40px
  text-align center
  float left

.grxxrzs
  color blue
  text-decoration underline
  display inline-block
  width 150px
  height 40px
  line-height 40px
  text-align center

.grxx3
  width 150px
  height: 35px
  float: right

.grxx3
  .grxxqr
    width 50px
    height 30px
    color #FFFFFF
    background-color #0092d7
    text-align center
    line-height 30px
    border-radius 5px
    margin 0 10px 0 10px
    float left

.grxx3
  .grxxqx
    width 50px
    height 30px
    color #000000
    background-color #cccccc
    text-align center
    line-height 30px
    border-radius 5px
    margin 0 10px 0 10px
    float left

.grxxqr:hover
  background-color #004768

.grxxqx:hover
  background-color #333333

.grxx2 .grxxs4
  width: 78px
  text-align: right
  color: #000011
  float: left

.grxx2 ul li img
  display inline-block
  margin 8px 0 0 0
  float left

.grxx2
  ul
    li
      .gexxbt
        width 5px
        height 40px
        display inline-block
        float left
        color #FF0000
        font-size 16px
        line-height 50px

.gexxbt1
  color #FFFFFF
  background-color #0293D6
  font-size 15px
  display inline-block
  float left
  width 20px
  height 20px
  line-height 20px
  border-radius 3px
  text-align center
  margin 15px 0 0 10px

/*hgsxx.css*/
.hgsxx
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.gsxx
  width 500px
  height 550px
  position relative
  background-color #EEEEEE
  margin 30px auto
  text-align left

.gsxx1
  width 500px
  height 50px
  float left

.gsxx1
  h5
    width 100px
    height 50px
    font-size 16px
    display inline-block
    line-height 50px
    font-weight normal
    margin 0 0 0 20px

.gsxx1 span
  color: red

.gsxx2
  width: 500px;
  height 300px
  color #000
  float left

.gsxx2
  ul
    li.gsxxlib
      width 250px
      height 50px
      float left
      line-height 50px
      font-size 13px

.gsxx2
  .gsxxlia
    width: 500px
    height: 50px
    float: left
    line-height 50px
    font-size 13px
    p
      width 390px
      height 50px
      display inline-block
      float left
      overflow hidden

.gsxx2
  .gsxxlic
    width 250px
    height 50px
    float left
    line-height 50px
    font-size 13px
    margin 0 0 0 95px

.gsxx2
  .gsxxlid
    width: 500px
    height: 50px
    float: left
    line-height 50px
    font-size 13px
    p
      width 390px
      height 50px
      display inline-block
      float left
      overflow hidden

.gsxx2
  ul
    li
      .gsxxbt
        width 5px
        height 50px
        display inline-block
        float left
        color #FF0000
        font-size 16px
        line-height 60px

.gsxx2
  .gsxxs
    width 95px
    text-align right
    color #001
    float left

.gsxx2 p
  width 140px
  height 50px
  display inline-block
  float left
  overflow hidden

.gsxx2 .gsxxs4
  width: 60px
  text-align: right
  color: #000011
  float: left

.gsxx2 ul li img
  display inline-block
  margin 13px 0 0 0
  float left

.gsxx3
  width 250px
  height 55px
  float right

.gsxx3
  .grxxqr
    width 65px
    height 30px
    color #fff
    background-color #0092d7
    text-align center
    line-height 30px
    border-radius 5px
    margin 15px 10px 0 70px
    float left

.gsxx3
  .grxxqx
    width 65px
    height 30px
    color #000
    background-color #ccc
    text-align center
    line-height 30px
    border-radius 5px
    margin 15px 30px 0 0
    float right

.gsxx3 .grxxqr:hover
  background-color #004768

.gsxx3 .grxxqx:hover
  background-color #333333

.gsxxsh
  position absolute
  top: 200px
  left:125px
  border-radius 5px
  box-shadow: 0 0 10px #979797
  width: 250px
  height 150px
  background-color :#eee

.gsxxsh1
  width 250px
  height 75px
  float left
  span
    width 250px
    text-align center
    height 40px
    line-height 50px
    display inline-block
    float left

.gsxxsh1
  p
    width 250px
    height 35px
    line-height 25px
    float left
    display inline-block
    text-align center

.gsxxsh2
  width 250px
  height 30px
  float left
  h5
    width 250px
    height 30px
    line-height 30px
    text-align center
    display inline-block
    font-weight normal

.gsxxsh3
  width 250px
  height 45px
  float left
  a
    width 60px
    height 30px
    color #000000
    background-color #cccccc
    text-align center
    line-height 30px
    border-radius 5px
    margin 5px 0 0 100px
    float left

.gsxxsh3 a:hover
  background-color #333
  color #000

.gsxx2
  .gsxxinp
    width 140px
    height 28px
    float left
    margin 10px 0 0 0

.gsxx2
  .gsxxinpb
    border 1px solid #FF0000

.gsxx2
  .gsxxinpa
    width 390px
    height 28px
    float left
    margin 10px 0 0 0

.xseachopa
  border 1px solid #FF0000

/*Hpin.css*/
.hp
  height: 270px

.hp .hpa
  height: 35px
  border-bottom: 1px solid #000000

.hp .hpa h4
  font-size: 14px
  display:inline-block
  letter-spacing:5px
  margin:10px 0 0 20px

.hp .hpa a
  float: right
  margin: 10px 20px 0 0
  display: inline-block
  font-size: 14px
  color: #000000

/*Hpone.css*/
.hpb
  width: 970px
  height: 210px
  margin: 10px auto

.hpb li.bplt
  width: 970px
  float left
  background-color: #E9F1F3
  margin:5px 0 0 0
  font-size: 15px

/*hxgmm.css*/
.hxgmm
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.xgmm
  width: 450px
  height: 300px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto
  text-align: left

.xgmm1
  width: 450px
  height: 25px
  background-color: #4392BD
  float: left

.xgmm1 h5
  color:#ffffff
  width: 100px
  line-height: 25px
  height: 25px
  display: inline-block
  margin: 0 0 0 20px

.xgmm2
  height: 225px
  color:#000000
  float: left

.xgmm2 ul
  width: 450px
  height: 150px
  margin: 30px 0 0 0

.xgmm2 ul li
  width: 450px
  height: 30px
  float: left
  margin: 20px 0 0 0

.xgmm2 .xgmms
  width: 150px
  text-align: right
  color: #000011
  float: left

.xgmm2 p
  width: 250px
  height: 30px
  display: inline-block
  float: left
  overflow: hidden

.xgmm3
  height: 35px
  float: right

.xgmm3 a
  width: 50px
  height: 30px
  color: #000011
  margin: 0 25px 0 0

/*Logo.css*/
.logo
  a
    float :left

.logo
  float:left
  padding-top:20px
  margin:0 0 0 30px
  height :50px
  width: 250px
  .logo1
    width :150px
    height :40px
    float :left

.logo
  .logo2
    width :100px
    height :40px
    float :left


/*mid.css*/
.mid
  width: 1050px
  margin: 10px auto

/*---*/
.homemid
  width: 1200px
  margin: 10px auto

/*Name.css*/
.userinfo
  width: 165px
  position: absolute
  right: 50px
  top:5px
  padding: 2px
  z-index 100

.userinfo:hover
  background: rgba(220, 238, 248, 0.4)

.userinfo .ico
  width: 14px
  height: 21px
  background-image: url(../../../src/image/rb.png)
  background-repeat: no-repeat
  float: left

.userinfo .wz
  width: 10px
  height: 6px
  float: left
  color :red
  font-size :20px

.userinfo span.infosp
  width:110px
  height: 25px
  display: inline-block
  float: left
  color: #FFF
  margin: 0 0 0 5px
  font-size: 14px
  overflow: hidden

.userinfo .uinfo
  background: rgba(220, 238, 248, 0.4)
  width: 165px
  margin: -2px 0 0 -2px
  float: left

.userinfo .uinfo li
  width:165px
  height: 25px
  color: #000011
  font-size: 14px
  float: left
  text-align: center

.userinfo .uinfo li a
  width:160px
  height: 25px
  color: #000011
  display: inline-block

.userinfo .uinfo li a:hover
  background-color:#3F657A
  color: #ffffff

.userinfo .useri
  width: 0
  height: 0
  display: inline-block
  border-top: 5px solid #ffffff
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  margin: 8px 0 0 0
  float: left

/*Nav.css*/
.nav
  float :left
  width :750px

.nav ul
  padding-top:20px

.nav li
  float:left
  height:30px
  line-height:30px
  position:relative
  width:100px
  display:inline
  padding:0px 4px

.nav
  li.navli1
    width :60px

.nav
  li.navli2
    width :80px

.nav li a
  display:block
  text-align:center
  color:#FFF
  font-size:14px

.nav li a:hover
  border-bottom: 2px solid #FFF

.active
  border-bottom: 2px solid #FFF

.nav .hother3
  width:102px
  display:block
  text-align:center
  color:#FFF
  font-size:16px

.nav
  ul
    li.hother1
      width:112px
      position :relative
      i
        width: 0
        height: 0
        display: inline-block
        border-top: 5px solid #fff
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        float: left
        position :absolute
        top: 12px
        right :2px

.nav ul.hother2
  width:106px
  padding-top:0

.nav ul.hother2 li
  width:106px
  height: 35px
  background: rgba(67, 145, 189, 0.5)

.nav ul.hother2 li a
  text-align :center
  width:98px
  height: 30px

/*top.css*/
.toper
  height:10%
  background-color: #4391BD
  margin: 0 auto
  position: relative
  box-shadow: 0 3px 3px #979797

/*Xpin.css*/
.xp
  height: 210px

.xp .xpa
  height: 35px
  border-bottom: 1px solid #000000

.xp .xpa h4
  font-size: 14px
  display:inline-block
  letter-spacing:5px
  margin:10px 0 0 20px

.xp .xpa a
  float: right
  margin: 10px 20px 0 0
  display: inline-block
  font-size: 14px
  color: #000000

/*Xpone.css*/
.xpb
  width: 1150px
  height: 160px
  margin: 10px auto

/*Xptwo.css*/
.xpc
  float: left
  background-color: #E9F1F3
  margin: 5px 0 0 0
  width: 1150px

.xpd
  width: 140px
  height: 70px
  float: left

.xpd span
  display: block
  margin: 7px 0 5px 35px
  width: 80px
  height: 25px

.xpd
  p
    width :100px
    height :30px
    float left
    display :inline-block

.xpd
  .xpqch
    width :40px
    height :30px
    float left

.xpe
  float: left
  width: 640px
  height: 70px
  text-align: center

.xpe span
  display: block
  margin: 20px 0 0 0
  width: 115px
  overflow: hidden
  float: left

.xpe1
  width: 400px
  height:70px
  float: left
  margin:0 5px 0 5px

.xpe1 p
  text-align: center
  font-size: 14px
  height: 20px
  margin: 5px 0 5px 0

.xpe1 div
  border: 1px solid #4491BD
  margin: 5px 0 5px 0

.xpe1 ul li
  width: 80px
  height: 20px
  margin: 5px auto
  float: left
  text-align: center

.xpe1 ul li h5
  display: inline-block
  color: #FA1616

.xpf
  width: 140px
  height: 70px
  float: left

.xpf1
  width:110px
  height: 70px
  float: left

.xpf1 span
  display: block
  margin: 7px 0 20px 25px

.xpf1 p
  margin: 0 0 0 25px

.xpf2
  width:30px
  height: 70px
  float: left

.xpf2 a
  display: inline-block
  width: 15px
  height: 30px
  line-height: 30px
  font-size: 30px
  margin: 7px 0 0 0
  color:#4390BE

.xpf2 span
  display: inline-block
  margin: 5px 25px 0 0
  color: red

.zt1
  color:#548DD4

.zt2
  color:#808080

.zt3
  color:#00B050

.zt4
  color:#FFCC00

.zt5
  color:#FF0000

.zt6
  color:#ED08AA

.xpe1 div.servsdetil
  width: 400px
  height: 30px
  border: none

.servsdetil ul li
  width: 200px
  height: 20px
  float: left

.xpc
  .xpg
    width: 50px
    height :70px
    float :left
    img
      width :30px
      height :30px
      margin :20px 0 0 0

/*Zxin.css*/
.zx
  height: 200px

.zx .zxa
  height: 35px
  border-bottom: 1px solid #000000

.zx .zxa h4
  font-size: 14px
  display:inline-block
  letter-spacing:5px
  margin:10px 0 0 20px

.zx .zxa a
  float: right
  margin: 10px 20px 0 0
  display: inline-block
  font-size: 14px
  color: #000000

.gsxx4
  width :500px
  height :110px
  float: left

.gsxx4
  .gs2
    width 500px
    height 110px
    float left
    .gs3
      width 180px
      height 110px
      display inline-block
      float left
      margin 0 0 0 95px
      .gs4
        width: 180px
        height: 110px
        display :inline-block
.gsxx4
  .gs1
    width 100px
    height 110px
    float left

.gsxx4
  .gs2
    .gs6
      position: relative
      display: inline-block
      border-radius: 5px
      overflow: hidden
      color: #000
      background-color: #cccccc
      line-height: 35px
      text-align: center
      width: 85px
      height: 35px
      margin: 75px 0 0 15px
      input
        position: absolute
        display: inline-block
        right: 0
        top: 0
        opacity: 0

.gsxx14
  float :left
  text-align: right
  width: 80px

.navfqa
  width :100px
  height 25px
  float left
  span
    color #FFFFFF
    margin 5px 0 0 0
    cursor pointer
    font-size 14px
    display inline-block

.pwin
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100

.pwina
  width: 900px
  height: 680px
  background-color: #FFFFFF
  border-radius 10px
  margin: 30px auto

.pwin1
  width 900px
  height 80px
  span
    display inline-block
    width 150px
    height :80px
    text-align center
    font-size :17px
    line-height 80px
    float left
    color: #000

.pwin1
  .pwin3
    width 100px
    height :40px
    line-height 40px
    background-color #2CA7E0
    color: #FFFFFF
    text-align center
    border-radius :5px
    float: right
    margin: 20px

.pwin2
  width 900px
  height 600px
  p
    display inline-block
    width 800px
    height :580px
    overflow hidden
    margin 0 0 0 50px
    font-size 15px

.wmlxr
  width 1050px
  height 400px

.linkfs1
  width 1050px
  height 100px
  h3
    font-size 18px
    display inline-block
    width 1050px
    height 30px
    line-height 30px

.linkfs1
  span
    display inline-block
    width 1050px
    font-size 15px
    height 30px
    line-height 30px

.linkfs1
  p
    display inline-block
    width 1050px
    height 40px
    line-height 20px

.linkfs2
  width 1050px
  height 300px
  ul
    li
      display inline-block
      float left
      width 520px
      h4
        display inline-block
        width 120px
        height 40px
        line-height 40px
        float left

.linkfs2
  ul
    li
      span
        display inline-block
        width 150px
        height 40px
        line-height 40px
        float left

.ewmcode
  width: 165px
  height 30px
  position: absolute
  right: 50px
  top: 40px

.ewmcode1
  display inline-block
  width 165px
  height 30px
  line-height 30px
  text-align center
  color #FFFFFF

.ewmcode2
  width: 143px
  height: 143px
  border: 1px solid #000
  margin: 0 auto
  img
    display inline-block
    width 141px
    height 141px

/*----wumaobang----*/
.baidu
  background-color #FFFFFF
  width 1200px
  position relative

.searchp
  background #A9BFFE

.baidu1
  width 1200px
  background-color #B8D3F0
  height 40px

.baidu2
  width 150px
  height 40px
  line-height 40px
  float left
  display inline-block
  text-align center
  font-size 16px
  color #31312F
  background-color #0e7df0
  margin 0 10px 0 0
  border-radius 10px 10px 0 0

.searchtabstab-list
  display inline-block
  float left
  width 600px
  height 35px
  margin 5px 0 0 0
  font-size 15px

.react-tabs__tab
  display inline-block
  float left
  width 100px
  text-align center
  height 35px
  line-height 35px
  font-size 15px
  cursor pointer
  color #000

.react-tabs__tab--selected
  border-radius 5px 5px 0 0
  color #fff
  background-color #0E7DF0

.react-tabs__tab-panel
  display none
  background #fff

.tab-paneltop
  background #0E7DF0
  height 55px;

.react-tabs__tab-panel--selected
  display block

.react-tabs__tab--disabled
  color GrayText
  cursor default

.react-tabs__tab:focus
  box-shadow 0 0 5px hsl(208, 99%, 50%)
  border-color hsl(208, 99%, 50%)
  outline none

.react-tabs__tab:focus:after
  content ""
  height 5px
  left -4px
  right -4px
  background #fff

.sbutton
  background-color: #08498D
  width 60px
  height 30px
  border none
  border-radius 5px
  color #fff
  margin 10px 0 0 15px
  display inline-block

.sh
  text-align center
  margin 10px 5px 5px 5px
  padding 6px 12px
  width 100px
  height 10px
  font-size 12px
  display inline-block

.tilehead
  margin 10px 0 0 0
  height 60px
  background #0e7df0

.tileElement
  width 170px
  text-align center
  font-size 15px
  float left
  height 60px
  line-height 60px
  color #FFFFFF
  img
    display inline-block
    float right
    margin 17px 80px 0 0

.tileElement2
  width 225px
  text-align center
  font-size 15px
  float left
  height 60px
  line-height 60px
  color #FFFFFF
  img
    display inline-block
    float right
    margin 17px 80px 0 0

.record
  background-color rgb(238, 238, 238)
  ul
    display inline-block

.recordElement
  width 170px
  text-align center
  font-size 14px
  display inline-block
  float left
  height 40px
  line-height 40px
  color #000000
  overflow hidden

.recordElement2
  width 225px
  text-align center
  font-size 14px
  display inline-block
  float left
  height 40px
  line-height 40px
  color #000000
  overflow hidden

.sbutton5
  background-color #CDCDCD
  width 80px
  height 30px
  line-height 30px
  margin 5px 0 0 5px
  border none
  float left
  color #36322F
  display inline-block

.tab-paneltop
  .wmsinp
    margin 5px 0 0 5px
    border-radius 1px
    vertical-align middle

.wmbdqx
  width 1200px
  height 50px
  line-height 50px
  text-align center
  display inline-block
  color red
  font-size 15px

.recordElement3
  width 240px
  text-align center
  font-size 14px
  display inline-block
  float left
  height 40px
  line-height 40px
  color #000000
  overflow hidden

.tileElement3
  width 240px
  text-align center
  font-size 15px
  float left
  height 60px
  line-height 60px
  color #FFFFFF

.recordElement4
  width 24px
  height 24px
  float left
  margin 10px 0 0 5px

.qqqe
  width 24px
  height 24px
  float left
  margin 8px 0 0 5px

.recordElementmz
  width 150px
  height 40px
  line-height 40px
  display inline-block
  float left

.tileElement4
  width 100px
  text-align center
  font-size 15px
  float left
  height 60px
  line-height 60px
  color #FFFFFF
  span
    display inline-block
    float left
    width 40px
    height 60px
    line-height 60px

.tileElement4
  img
    width 24px
    height 24px
    float left
    margin 15px 0 0 20px

.recordElement5
  width 100px
  text-align center
  font-size 14px
  display inline-block
  float left
  height 40px
  line-height 40px
  color #000000
  overflow hidden

.tileElement5
  width 120px
  text-align center
  font-size 15px
  float left
  height 60px
  line-height 60px
  color #FFFFFF

.recordElement6
  width 120px
  text-align center
  font-size 14px
  display inline-block
  float left
  height 40px
  line-height 40px
  color #000000
  overflow hidden

.baidu3
  width 200px
  height 40px
  float right

.baidu4
  width 100px
  height 40px
  float left
  span
    width 70px
    height 40px
    line-height 40px
    text-align center
    font-size 14px
    display inline-block
    float left
    color #000000

.baidu5
  width 24px
  height 24px
  float left
  margin 10px 5px 0 0

.hckall
  width 1200px
  position absolute
  top 0
  left 100px
  background-color #ccc

.hcklogo
  width 86px
  height 107px
  margin-left auto
  margin-right auto
  margin-top 27px

.hcktitle
  font-size 36px
  text-align center
  font-weight bold

.hcktitle_one
  font-size 18px
  text-align center
  margin-top 18px
  font-weight bold

.hckexplain
  width 1100px
  margin-left auto
  margin-right auto
  margin-top 28px

.hckphone
  font-size 14px

.hckcontent_one
  background-color #eeeeee
  padding-left 46px
  padding-top 22px
  padding-bottom 22px
  margin 10px 0

.hcktitle_two
  font-size 16px
  margin 18px auto
  font-weight bold
  li
    line-height 2
    font-size 14px

.hckpayment_information
  width 1050px
  margin-left 50px
  margin-top 28px
  border-style solid
  border-width 1px
  border-color rgb( 204, 204, 204 )
  background-color rgb( 255, 255, 255 )
  padding-top 27px
  padding-bottom 18px
  padding-left 48px

.hckline
  width 1000px
  background-color #eeeeee
  height 1px
  margin-top 16px

.hcktitle_three
  font-size 18px
  font-weight bold

.hckbutton
  width 178px
  height 48px
  border 1px solid #eee
  border-radius 6px
  background-color #fff
  box-shadow 0px 0px 4px 0px rgb( 39, 87, 120 )
  margin 14px 24px
  cursor pointer

.hckcode
  margin 14px 24px

.hcktitle_four
  font-size 16px
  color #ff3737
  span
    width 100px
    color #000000
    background-color #cccccc
    text-align center
    border-radius 5px
    margin 0 0 0 800px
    padding 15px
    display block
    cursor pointer

.hckphone_two
  font-size 14px
  margin-left 48px
  margin-top 22px
