.tkt-main
    width: 1200px
    margin: 0 auto
    padding: 10px 0 0 
.tkt-topNav
    padding:0 0 16px 0
    li
        width: 220px;
        height: 45px;
        float: left;
        margin-right: 25px;
        a
            display: block
            width: 100%
            height 100%
            color: #001
            font-size: 17px
            line-height: 45px
            text-align: center
            background-color: #add3e0;
        a.bg2db7f5
            background #2db7f5


.tkt-receive-lists
    
    color  #000
    .lists-li
        margin-bottom: 18px
        background #fff
        .lists-li-img
            float left
            width: 276px 
            height 100px
            img 
                width: 576px 
                height 100px
        .lists-li-msg
            float left
            width: 580px
            padding:0 16px
            .msg-detail
                float left
                width: 50%
                height 50px
                line-height: 50px
        .lists-li-btn
            float right
            width: 280px 
            .btn-datail,.btn-get
                width:50%
                height 100px
                float left 
                cursor pointer
                line-height: 100px 
            .btn-datail
                background #eee
                text-align: center
                padding-top: 20px
            .btn-get
                background #56aaff
                color #000
                font-size 18px
                text-align: center

            
    