.blacklistpage
  height :100%

.black1
  width: 1050px
  height: 100px
  background-color: #67c8ff
  box-shadow: 0 1px 1px #000
  margin :30px 0 0 0

.black2
  width: 1050px
  height: 50px
  float :left
  border-bottom: 1px solid #000
  li
    width: 300px
    height: 40px
    float: left
    text-align: right
    font-size: 16px
    color: #001
    margin: 7px 0 0 0

.black3
  width: 1050px
  height: 50px
  float :left
  li
    width: 300px
    height: 40px
    float: left
    text-align: right
    font-size: 16px
    color: #001
    margin: 7px 0 0 0

.black4
  background-color: #4e93ba
  display: inline-block
  margin: 3px 0 0 0
  .black5
    width: 1010px
    margin: 10px 20px
    font-size: 13px
    .black6
      width: 1010px
      height: 50px
      background-color: #67c8ff
      li
        width: 144px
        height: 50px
        background-color: #67c8ff
        float: left
        line-height: 50px
        text-align: center
        font-size: 15px
        color: #001

.black7
  float: left
  background-color: #e9f1f3
  margin: 5px 0 3px 0
  height: 70px
  width: 1010px

.black8
  float: left
  width: 144px
  text-align: center
  line-height: 70px
  height: 70px
  font-size: 15px
  overflow: hidden
  color: #001