.advantagepage
  height: 100%

.yjysmid
  width 1200px
  margin 10px auto

/*ysmid*/
.rseachlist
  width 1200px
  position relative

/*addetil.css*/
.addet
  background rgba(0, 0, 0, 0.4)
  position fixed
  top 0px
  left 0px
  width 100%
  height 100%
  z-index 100
  overflow-y scroll

.addet1
  width 620px
  height 650px
  position relative
  background-color #EEEEEE
  margin 30px auto
  text-align left
  border-radius 15px

.addet2
  width 580px
  height 650px
  margin 0 auto
  font-size 15px

.addet3
  height 70px
  float left

.addet3
  span
    width 200px
    height 70px
    float left
    display inline-block
    font-size 17px
    line-height 70px
    margin-left 10px
    color #000000

.addet3
  ul
    width 370px
    height 70px
    float left
    display inline-block
    li
      width 70px
      height 70px
      float right
      display inline-block
      a
        width 60px
        height 30px
        display inline-block
        line-height 30px
        text-align center
        border-radius 5px
        color #000000
        font-size 15px
        background-color #cccccc
        margin 20px 0 0 15px

.addet3
  a:hover
    color #FFFFFF
    background-color #0092d7

.addet3
  a:active
    position relative
    top 1px

.addet3
  .yjdel1
    width 120px
    a
      width 100px
      color #FFFFFF
      background-color #0092d7

.addet4
  width 580px
  height 280px
  float left

.addet4
  ul
    li
      width 290px
      height 50px
      float left
      font-size 14px

.addsp
  width 90px
  height 50px
  line-height 50px
  display inline-block
  text-align right
  float left

.yjdel4
  width 190px
  height 50px
  line-height 50px
  display inline-block
  overflow hidden
  float left
  margin-left 10px


.addet5
  width 190px
  height 50px
  line-height 50px
  display inline-block
  overflow hidden
  float left
  margin-left 10px
  color #34ACCF
  font-weight bolder

.yjdel2
  height 100px
  float left
  ul
    width 300px
    height 150px
    display inline-block
    margin 0 0 0 15px
    float left

.yjdel5
  width 90px
  height 50px
  text-align right
  display inline-block
  font-size 14px
  float left
  line-height 50px

.yjdel6
  width: 140px
  height: 30px
  line-height 30px
  float: left
  text-align: center
  margin 15px 0 0 10px
  border-radius 5px
  border 1px solid #ccc
  color #FFFFFF
  background-color #0092d7
  cursor pointer

.yjdel7
  width 20px
  height 20px
  display inline-block
  float right
  margin 2.5px 2.5px 0 0

.yjdel8
  width 140px
  height 30px
  line-height 30px
  float left
  text-align center
  margin 15px 0 0 10px
  border-radius 5px
  border 1px solid #ccc
  color #000000
  background-color #FFFFFF
  cursor pointer

.yjdel9
  width 104px
  height 94px
  display inline-block
  float left
  margin 5px 0 0 20px

.yjdel3
  height 200px
  float left

.yjdel10
  width: 580px
  height: 100px
  float left

.yjdel10
  textarea
    color #000
    height 80px
    width 450px
    overflow hidden
    resize none
    margin 15px 0 0 10px
    float left
    border 1px solid #d9d9d9

.yjdel10
  p
    width 450px
    height 80px
    display inline-block
    overflow hidden
    float left
    margin 15px 0 0 10px

/*adlistall.css*/
.adlists
  background-color #4E93BA
  display inline-block

.adlists1
  width 1120px
  margin 10px 40px
  font-size 13px

.adlists1
  .adl1
    width 1120px
    height 50px
    background-color #67C8FF

.adl1
  li
    width 70px
    height 50px
    background-color #67C8FF
    float left
    line-height 50px
    text-align center
    font-size 15px
    color #ffffff

.adl1
  .adl6
    width 180px
    text-align right
    .ant-checkbox-wrapper
      font-size 15px

.adl1
  .adl9
    width 120px

.adl1
  .adl8
    width 150px

.adl2
  float left
  background-color #E9F1F3
  margin 5px 0 3px 0
  height 70px
  width 1120px

.adl3
  float left
  width 70px
  text-align center
  line-height 70px
  height 70px
  font-size 15px
  overflow hidden
  color #000000

.adl2
  .adl10
    width 120px
    float left
    text-align center
    line-height 70px
    height 70px
    font-size 15px
    overflow hidden
    color #000000

.adl2
  .adl11
    width 150px
    float left
    text-align center
    line-height 70px
    height 70px
    font-size 15px
    overflow hidden
    color #000000

.adl7
  float left
  width 180px
  line-height 70px
  height 70px
  font-size 15px
  overflow hidden
  color #000011

.adl4
  width 48px
  height 48px
  margin 11px 0 0 11px
  cursor pointer

.adl4:active
  position relative
  top 1px

.adl14
  width 24px
  height 24px
  float left
  margin 23px 0 0 8px

.adl3
  p.adl5
    width 70px
    height 70px
    color #34ACCF
    font-weight bolder
    line-height 70px
    text-align center

.adl12
  display inline-block
  width 80px
  height 30px
  line-height 30px
  float left
  margin 20px 0 0 20px
  color #FFFFFF
  background-color #0092dc
  text-align center
  border-radius 5px
  cursor pointer

.adl12:active
  position relative
  top 1px

.adl13
  display inline-block
  width 80px
  height 30px
  line-height 30px
  float left
  margin 20px 0 0 20px
  text-align center

.adl15
  width 60px
  height 70px
  float right
  margin 0 0 0 8px

.adts1
  position absolute
  top 0
  left 300px
  border-radius 15px
  box-shadow 0 0 10px #333
  width 600px
  height 300px
  background-color #eee
  p
    width 540px
    height 170px
    display inline-block
    float left
    margin 30px 0 0 30px
    line-height 28px
    font-size 14px
    text-indent 26px

.adts1
  .adts2
    width 100px
    height 40px
    line-height 40px
    color #FFFFFF
    background-color #0092d7
    border-radius 10px
    float left
    text-align center
    font-size 15px
    margin 30px 0 0 240px


/*admid.css*/
.tzhmid
  width 1200px
  margin 10px auto

.fwysmid
  width 1200px
  margin 10px auto

.adchange
  font-size 15px
  margin 10px auto
  height 45px
  ul
    width 750px
    height 45px
    display inline-block
    text-align center
    li
      width 220px
      height 45px
      float left
      margin-right 25px
      a
        width 220px
        height 45px
        display inline-block
        line-height 45px
        font-size 17px
        background-color #ADD3E0
        color #000011

.adchange
  ul
    li
      a:active
        position relative
        top 1px

.adchange
  ul
    li
      a:hover
        background-color #1299D9

.adchange
  ul
    li
      a.activad
        background-color #1299D9

/*adnew.css*/
.adnew
  height: 60px
  width: 1050px

.adnew1
  width: 90px
  height: 60px
  background-color: #005983
  box-shadow: 0 1px 1px 0 #000000
  float: left

.adnew1 a
  display: inline-block
  width: 50px
  height: 50px
  color: #ffffff
  font-size: 18px
  line-height: 20px
  margin: 10px 0 0 25px
  letter-spacing: 2px

.adnew1 a:active
  position: relative
  top: 1px
.adnew0
  height: 50px
  width: 900px
  margin:10px 0 0 20px
  float :left
  color: #fff
  font-size :12px
/*adnewadd.css*/
.adnad
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.adnad1
  width 620px
  height 620px
  position relative
  background-color #EEEEEE
  margin 30px auto
  border-radius 15px

.adnad2
  width 580px
  height 310px
  margin 0 auto

.adnad3
  height 60px

.adnad3
  span
    width 300px
    height 60px
    float left
    display inline-block
    font-size 17px
    line-height 70px
    color #000000

.adnad7
  width 180px
  height 30px
  float left
  margin 10px 0 0 95px
  background-color #cccccc
  border-radius 5px

.adnad7
  a
    width 90px
    height 30px
    float left
    display inline-block
    line-height 30px
    color #FFFFFF
    text-align center
    border-radius 5px

.adnad7 a:active
  position relative
  top 1px

.adnad7 a:hover
  background-color #0092dc

.activcolor
  background-color #0092dc

.adnad3
  ul
    width 280px
    height 60px
    float left
    display inline-block

.adnad3
  ul
    li
      width 93px
      height 60px
      float left
      display inline-block

.adnad3
  ul
    li
      a
        width 70px
        height 35px
        display inline-block
        line-height 35px
        border-radius 5px
        color #000000
        font-size 15px
        background-color #cccccc
        float left
        margin 10px 0 0 10px
        text-align center

.adnad3
  ul
    li
      a:active
        position relative
        top 1px

.adnad3
  ul
    li
      a:hover
        color #FFFFFF
        background-color #0092dc

.adnad3
  .adnad30
    width 42px
    height 42px
    float left
    margin 8px 0 0 25px
    cursor pointer

.adsnad30:active
  position relative
  top 1px

.adnad4
  height: 150px

.adnadli1
  width 290px
  height 50px
  float left
  font-size 14px
  p
    width 180px
    height 50px
    line-height 50px
    display inline-block
    overflow hidden
    float left
    margin-left 10px

.adnad6
  width 80px
  height 50px
  line-height 50px
  display inline-block
  text-align right
  float left

.adnad9
  width 620px
  height 310px
  background-color #CCCCCC
  border-radius 0 0 15px 15px

.adnad10
  height 30px
  line-height 30px
  text-align center
  font-size 16px

.adnad11
  height 90px
  span
    width 100px
    height 50px
    font-size 14px
    line-height 50px
    display inline-block
    text-align right
    float left

.adnad11
  textarea
    color #000
    height 70px
    width 490px
    overflow hidden
    resize none
    margin-left 15px
    border 1px solid #d9d9d9

.adnad12
  height 100px
  ul
    width 300px
    height 100px
    display inline-block
    margin 0 0 0 15px
    float left

.adnad13
  width 80px
  height 50px
  text-align right
  display inline-block
  font-size 14px
  float left
  line-height 50px

.adnad14
  width 140px
  height 30px
  line-height 30px
  float left
  text-align center
  margin 15px 0 0 10px
  border-radius 5px
  border 1px solid #ccc
  color #FFFFFF
  background-color #0092d7
  cursor pointer

.adnad15
  width 20px
  height 20px
  display inline-block
  float right
  margin 2.5px 2.5px 0 0

.adnad16
  width 140px
  height 30px
  line-height 30px
  float left
  text-align center
  margin 15px 0 0 10px
  border-radius 5px
  border 1px solid #ccc
  color #000000
  background-color #FFFFFF
  cursor pointer

.adnad17
  width 104px
  height 94px
  display inline-block
  float left
  margin 5px 0 0 20px


/*adseach.css*/
.adsch4
  width: 1200px
  background-color #4F93BA

.yjys1
  height 70px

.yjys2
  width 350px
  float left
  height 70px
  span
    width 300px
    height 70px
    line-height 70px
    color #FFFFFF
    font-size 13px
    display inline-block
    float left
    margin 0 0 0 5px

.yjys3
  width 24px
  height 24px
  float left
  margin 23px 0 0 20px

.yjys4
  width 42px
  height 42px
  float left
  margin 14px 0 0 54px
  cursor pointer

.yjys4:active
  position relative
  top 1px

.adsch
  width: 1050px
  height: 80px

.adsch1
  width: 1200px
  height: 50px
  background-color:#68C9FF
  margin 5px 0

.adsli
  width 270px
  height: 50px
  float: left
  font-size: 15px
  h5
    color #000
    width 90px
    height 50px
    float left
    line-height 50px
    text-align right
    font-weight normal

.yjys5
  margin 10px 0 0 10px
  div
    border-radius 1px

.adsch2
  width: 1200px
  height: 50px
  background-color:#68C9FF
  margin 5px 0

.adslione
  width 370px
  height: 50px
  float: left
  font-size: 14px
  h5
    color #000
    width 90px
    height 50px
    float left
    line-height 50px
    text-align right
    font-weight normal

.adsch3
  width: 1200px
  background-color:#68C9FF

.adslitwo
  width 500px
  height 50px
  float right

.adage
  background-color #5895B2
  display inline-block
  width 65px
  height 30px
  line-height 30px
  float left
  margin 5px 5px
  box-shadow 0 1px 1px #000000
  color #000
  text-align center
  font-size 14px

.adage1
  background-color #5895B2
  display inline-block
  width 95px
  height 30px
  line-height 30px
  float left
  margin 5px 5px
  box-shadow 0 1px 1px #000000
  color #000
  text-align center
  font-size 14px

.adage2
  background-color #5895B2
  display inline-block
  width 130px
  height 30px
  line-height 30px
  float left
  margin 5px 5px
  box-shadow 0 1px 1px #000000
  color #000
  text-align center
  font-size 14px

.adage:active,.adage1:active,.adage2:active
  position relative
  top 1px

.adhx
  width :680px
  height 300px
  position :absolute
  top: 25px
  left :35px
  overflow :hidden
  background-color :#FFFFFF
  z-index 100
  .adhx1
    width :680px
    height : 40px
    background-color :#67C8FF
    span
      width :80px
      height : 40px
      line-height :40px
      float :left
      text-align :center
      color :black

.adhx1
  ul
    width : 150px
    height :40px
    float :right
    li
      width :75px
      height :40px
      float :left
      text-align :center
      .adhx2
        display :inline-block
        width :70px
        height :30px
        line-height :30px
        border-radius :5px
        color :black
        float :left
        margin :5px 0 0 0
        background-color :#1b9fdd

.adhx1
  ul
    li
      .adhx3
        width : 50px
        height :30px
        line-height :30px
        color :black
        float :left
        margin :5px 0 0 0
        font-weight : bolder
.adhx1
  ul
    li
      .adhx2:hover
        background-color :#005983

.adhx2:active,.adhx3:active,.adhx6:active,.adhx7:active
  position : relative
  top: 1px

.adhx4
  width :680px
  height :40px
  h5
    width: 80px
    height: 40px
    line-height: 40px
    float: left
    text-align: center
    color: #000
    display :inline-block
    font-weight :normal

.adhx
  .adhx4
    span
      display :inline-block
      float :left
      color :black
      height :40px
      line-height :40px

.adhx
  .adhx4
    span
      .adhx7
        width :10px
        height :10px
        float :right
        display :inline-block
        color :#ccc
        line-height: 10px
        margin :10px 0 0 0

.adhx4
  span
    .adhx7:hover
      color :black

.adhx
  .adhx5
    width :680px
    height :220px
    span
      width: 80px
      height: 40px
      line-height: 40px
      float: left
      text-align: center
      color: #000

.adhx
  .adhx5
    ul
      width :600px
      height :220px
      float :left
      li
        width :150px
        height :27px
        font-size :12px
        float :left
        .adhx6
          display :inline-block
          width :150px
          height :27px
          line-height :27px
          border-radius :5px
          color :black
          float :left
          margin :5px 0 0 0
          text-align :center

.adhx5
  ul
    li
      .adhx6:hover
        background-color :#67c8ff


.addxkan
  width: 680px
  position: absolute
  top: 80px
  left: 35px
  background-color: #fff
  z-index :101
  .addxkan1
    width: 680px
    height: 40px
    float :left
    background-color: #67c8ff
    span
      width:200px
      height: 40px
      line-height: 40px
      float: left
      text-align: center
      color: #000

.addxkan1
  ul
    width: 150px
    height: 40px
    float: right
    li
      width: 75px
      height: 40px
      float: left
      text-align: center
      .addxkan2
        display: inline-block
        width: 70px
        height: 30px
        line-height: 30px
        border-radius: 5px
        color: #000
        float: left
        margin: 5px 0 0 0
        background-color: #1b9fdd

.addxkan1
  ul
    li
      .addxkan3
        width: 50px
        height: 30px
        line-height: 30px
        color: #000
        float: left
        margin: 5px 0 0 0
        font-weight: bolder

.addxkan1
  ul
    li
      .addxkan2:hover
        background-color :#005983

.addxkan2:active,.addxkan3:active,.addxkan8:active,.addxkan9:active,.addxkan10:active
  position : relative
  top: 1px

.addxkan4
  width: 680px
  height: 40px
  float :left
  span
    width: 60px
    height: 40px
    line-height: 40px
    float: left
    text-align: center
    color: #000
    display: inline-block

.addxkan4
  ul
    width :600px
    height :40px
    float: left
    li
      width :120px
      height :40px
      line-height :40px
      text-align :center
      float :left
      overflow :hidden
      .addxkan10
        display: inline-block
        width: 120px
        height: 30px
        line-height: 30px
        font-size :12px
        border-radius: 5px
        color: #000
        text-align: center
        margin: 5px 0 0 0;

.addxkan8
  display: inline-block
  width: 150px
  height: 30px
  line-height: 30px
  font-size :12px
  border-radius: 5px
  color: #000
  text-align: center

.addxkan8:hover,.addxkan10:hover
  color:#fff
  background-color :#67c8ff

.addxkan5
  width: 680px
  height:150px
  overflow-y: scroll;
  float :left
  span
    width: 60px
    height: 30px
    line-height: 30px
    float: left
    text-align: center
    color: #000
    display: inline-block

.addxkan5
  ul
    width :600px
    float :left
    li
      width :150px
      height :30px
      line-height :30px
      text-align :center
      float :left
      overflow :hidden

.addxkan6
  width: 680px
  height: 40px
  float :left
  h5
    width: 60px
    height: 40px
    line-height: 40px
    text-align: center
    color: #000
    display: inline-block
    font-weight :normal
    float :left

.addxkan6
  .Assjrs
    float :left
    margin :10px 0 0 15px


.addxkan7
  width: 680px
  height :200px
  overflow-y :scroll
  float :left
  span
    width: 60px
    height: 30px
    line-height: 30px
    text-align: center
    color: #000
    float :left
    display: inline-block

.addxkan7
  ul
    width :600px
    float :left
    li
      width :150px
      height :30px
      line-height :30px
      text-align :center
      float :left
      overflow :hidden
      .addxkan9
        width: 10px
        height: 10px
        float: right
        display: inline-block
        color: #ccc
        line-height: 10px
        margin: 5px 0 0 0

.addxkan11
  display inline-block
  width 150px
  height 30px
  line-height 30px
  font-size 15px
  color #0092dc
  text-align center

.addxkan7
  ul
    li
      .addxkan9:hover
        color :black

.addxkan7
  ul
    li
      span
        width: 140px
        height :30px
        font-size :12px
        overflow :hidden
        line-height :30px

.adplxg
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll
  .adplxg1
    width: 400px
    height: 220px
    position: relative
    background-color: #EEEEEE
    border :2px solid #C9C9C9
    margin: 30px auto
    text-align: left
    .adplxg2
      width : 400px
      height : 40px
      border-bottom :1px solid #C9C9C9
      span
        width :100px
        height :40px
        line-height :40px
        float :left
        text-align :center

.adplxg2
  ul
    width :240px
    height :40px
    float: right
    li
      width :80px
      height :40px
      float : left
      a
        width: 60px
        height: 30px
        display: inline-block
        line-height: 30px
        border-radius: 5px
        color: #000
        background-color: #67c8ff
        text-align :center
        margin :5px 0 0 0

.adplxg3
  width: 400px
  height: 30px
  margin: 10px auto
  label
    display :inline-block
    width: 90px
    height: 25px
    float: left
    font-size: 14px
    line-height: 25px
    margin: 0 0 0 10px

.adplxg4
  width :400px
  height :60px
  span
    width :100px
    height :40px
    line-height :40px
    float :left
    text-align :center

.adplxg4
  textarea
    color: #000
    height: 50px
    width: 280px
    float :left
    overflow: hidden
    resize: none
    margin: 10px 0 0 0
    border: 1px solid #d9d9d9

.adl2one
  height :30px
  line-height :30px
  color :red
  text-align :center
  font-size :13px

.adnad18
  height 100px

.adnad19
  height 100px
  float left

.addxkan12
  display inline-block
  width 140px
  height 30px
  line-height 30px
  font-size 15px
  color #0092dc
  text-align center