.meetqpage
  height :100%

.mqmid
  width: 1200px
  margin :20px auto
  .mmetqt1
    height :50px
    h3
      font-size :20px
      display :inline-block
      float :left
      width :400px

.mmetqt1
  span
    text-align :center
    display :inline-block
    float :left
    margin :10px 0 0 0

.mmetqt2
  height :50px
  h5
    width :400px
    float :left
    display :inline-block

.mmetqt2
  a
    display :inline-block
    width :60px
    height :20px
    line-height :20px
    margin :10px 0 0 0
    float : right

.mmetqt3
  ul
    li
      height: 50px
      line-height :50px
      border-bottom :1px dashed #cccccc

.mmetqt4
  width 150px
  text-align center
  font-size 14px
  float left
  height 50px

.mmetqt5
  width 200px
  text-align center
  font-size 14px
  float left
  height 50px

.mmetqt6
  width 60px
  text-align center
  font-size 14px
  float left
  height 50px

.mmetqt8
  width 100px
  text-align center
  font-size 14px
  float left
  height 50px
  a
    display inline-block
    width 90px
    height 20px
    line-height 20px
    color #323232
    border 1px solid #323232
    border-radius 10px
    overflow hidden

.mmetqt2,.mmetqt8,.mmetqt6
  a:active
    position relative
    top 1px