.paypage
  height :100%
.panew
  width :1060px
  height :60px
  .panew1
    width: 165px
    height: 60px
    background-color: #005983
    box-shadow: 0 1px 1px 0 #000
    float: left
    a
      display: inline-block
      width: 140px
      height: 50px
      color: #fff
      font-size: 18px
      margin: 15px 0 0 15px
      letter-spacing: 2px

/*.panew
  .panew1
    a:hover
      color: #57c5f7

.panew
  .panew1
    a:active
      position: relative
      top: 1px*/

.panew
  .panew2
    width: 700px
    float: left
    background-color: #67c8ff

.panew2
  .tleft
    display: inline-block
    width: 0
    height: 0
    border-right: 15px solid #3d7ba0
    border-bottom: 15px solid transparent
    border-top: 15px solid transparent
    float: left
    margin: 15px 10px 0 10px

.panew2
  .tright
    display: inline-block
    width: 0
    height: 0
    border-left: 15px solid #3d7ba0
    border-bottom: 15px solid transparent
    border-top: 15px solid transparent
    float: left
    margin: 15px 10px 0 10px

.panew2
  ul
    li
      a:hover
        background-color: #3d7ba0
        border-radius: 2px
        box-shadow: 0 1px 1px 0 #000

.panew2
  a:active
    position: relative
    top: 1px

.payt
  height: 85px
  width: 1050px
  background-color: #67c8ff
  margin: 10px 0 0 0
  box-shadow: 0 1px 1px #000
  color: #000
  font-size: 16px
  .payt1
    height: 43px
    border-bottom: 1px solid #000
    ul
      li
        width: 250px
        height: 40px
        float: left
        line-height :40px
        text-align: right

.payt
  .payt2
    height: 43px
    .payt3
      width :500px
      float: left
      li
        width: 250px
        height: 40px
        float: left
        line-height: 40px
        text-align: right

.payt2
  .payt4
    width :500px
    float: left
    li
      width: 120px
      height: 40px
      float: left
      line-height: 40px
      text-align: right
      h5
        display: inline-block
        width: 80px
        text-align: left
        height: 40px
        font-weight: normal

.payt2
  .payt4
    li
      a
        background-color: #5895b2
        display: inline-block
        width: 60px
        height: 30px
        margin: 5px 0 0 0
        box-shadow: 0 1px 1px #000
        line-height 30px
        text-align:center
        color: #000

.payt4
  li
    a:active
      position: relative
      top: 1px

.tjpay
  margin :0 0 0 5px
  div
    border-radius :1px

.pali
  background-color: #4e93ba
  display: flex
  .pali1
    width: 970px
    margin: 10px auto
    font-size: 13px
    li
      float: left
      background-color: #e9f1f3
      margin: 5px 0 0 0
      height: 70px
      width: 970px
      div.pali3
        float: left
        width: 215px
        text-align: center
        margin-left: 5px
        line-height: 70px
        height: 70px
        font-size: 15px

.pali
  .pali1
    li
      div.pali31
        float: left
        width: 75px
        text-align: center
        margin-left: 5px
        line-height: 70px
        height: 70px
        font-size: 15px

.pali1
  li
    div.pali3
      img.payqx
        width :20px
        height :20px
        display :inline-block
        float: left

.pali1
  li
    div.pali3
      img.payqx1
        width :10px
        height :10px
        display :inline-block
        float: left
        margin :26px 0 0 0

.pali1
  li
    div.pali3
      span
        width: 75px
        height: 70px
        text-align: right
        float: left

.pali1
  li
    div.pali3
      p
        width :105px
        height :70px
        overflow :hidden
        float: left

.pali1
  li
    div.pali31
      .pali2
        width :75px
        height :40px
        text-align :center
        float :left
        line-height :40px
        display: inline-block

.pali2
  img
    margin :5px 12px 0 0

.pali1
  li
    div.pali31
      a
        width :75px
        height :30px
        text-align :center
        float :left
        line-height :30px
        display: inline-block

.paydd
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll
  .paydd1
    width: 750px
    height: 400px
    position: relative
    background-color: #EEEEEE
    margin: 30px auto
    text-align: left
    a.close
      position: absolute
      top: 3px
      right: 3px
      width: 20px
      height: 20px
      display: inline-block
      color: #CECECE
      font-size: 20px
      line-height: 25px
      text-align: center
      font-weight: bolder

.paydd1
  a.close:active
    position: absolute
    top: 4px

.paydd2
  width: 700px
  height: 400px
  margin: 0 auto
  font-size: 15px

.paydd3
  height: 50px
  border-bottom: 1px solid #000000
  span
    width: 470px
    height: 49px
    float: left
    display: inline-block
    font-size: 17px
    line-height: 50px
    margin-left: 30px
    color: #000000

.paydd3
  ul
    width: 200px
    height: 50px
    float: left
    display: inline-block
    text-align: center

.paydd3
  ul
    li
      width: 60px
      height: 48px
      line-height: 48px
      float: left

.paydd3
  ul
    li
      a
        width: 50px
        height: 30px
        display: inline-block
        line-height: 30px
        border-radius: 5px
        color: #000000
        font-size: 17px
        background-color :#67c8ff

.paydd4
  height: 350px

.paydd4
  ul
    li
      width: 350px
      height: 50px
      margin: 15px 0 0 0
      float: left
      position :relative

.paydd4
  ul
    li
      h4
        width :80px
        line-height :50px
        display :inline-block
        height :50px
        float :left
        font-weight :normal

.paydd4
  ul
    li
      h5
        width :45px
        line-height :50px
        display :inline-block
        height :50px
        float :left
        font-weight :normal

.paydd4
  ul
    li
      p
        width :210px
        line-height :50px
        height :50px
        overflow :hidden
        float :left

.paydd4
  ul
    li
      .paysgj
        width: 100px
        line-height :50px
        height :50px
        overflow :hidden
        float :left
        margin :0 10px 0 0

.paydd4
  ul
    li
      .payhc
        width: 50px
        line-height :50px
        height :50px
        overflow :hidden
        float :left

.paydd4
  ul
    li.paysml
      h4
        line-height :30px

.paydd4
  ul
    li.paysml
      p
        height :30px
        line-height :30px

.paydd4
  ul
    li.paysml
      h5
        width :80px
        line-height :20px
        height :20px
        overflow :hidden
        float :left
        font-weight :normal
        font-size :12px

.paydd4
  ul
    li.paysml
      h3
        width :300px
        line-height :20px
        height :20px
        overflow :hidden
        float :left
        font-weight :normal
        font-size :12px

.paydd4
  ul
    li.paysml
      h6
        width :200px
        line-height :20px
        height :20px
        float :left
        color :red
        font-weight :normal
        font-size :12px

.paydd4
  ul
    li
      .paydd5
        width: 50px
        height: 30px
        float: left
        margin: 10px 0 0 0
        line-height: 30px
        color: #fff
        background-color: #4392bd
        text-align: center

.paydd4
  ul
    li
      .paydd5:active
        position: relative
        top:1px

.paydd4
  ul
    li
      .lvyezb
        border :1px solid #ccc
        border-radius :2px
        width :100px
        height :30px
        line-height :30px
        margin :10px 0 0 0
        display :block
        float :left
        color :black
        text-align :center


.paydd4
  ul
    li
      .lvyezb:active
        position :relative
        top:1px

.paydel
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y: scroll
  .payd1
    width: 750px
    height: 600px
    position: relative
    background-color: #EEEEEE
    margin: 30px auto
    a.close
      position: absolute
      top:3px
      right: 3px
      width: 25px
      height: 25px
      display: inline-block
      color:#CECECE
      font-size: 25px
      line-height: 25px
      text-align: center
      font-weight: bolder

.payd1
  a.close:active
    position: absolute
    top:4px

.payd2
  width: 700px
  height: 600px
  margin: 0 auto

.payd3
  height: 50px
  border-bottom: 1px solid #000000
  span
    display:inline-block
    width: 300px
    height: 50px
    font-size: 20px
    line-height: 50px
    float: left

.payd2
  .payd3
    ul
      float: left
      width: 400px
      li
        width: 100px
        text-align: center
        float: left
        height: 40px
        line-height: 50px
        font-size: 17px
        margin :0 0 0 5px
        background-color :#EEEEEE
        a
          width: 95px
          height: 35px
          font-size :15px
          display: inline-block
          line-height:35px
          border-radius: 5px
          color: #000000
          background-color :#67c8ff
.payd3
  ul
    li
      .bntact:active
        position: relative
        top:1px
.payd3
  ul
    li
      .bntact:hover
        background-color:#1b9fdd

.payd2
  .payd4
    width: 700px
    height :350px
    ul
      li
        width: 350px
        height : 40px
        float : left
        display :inline-block
        background-color :#EEEEEE
        margin :0

.payd4
  ul
    li
      span
        width :80px
        height :35px
        line-height :40px
        font-size :15px
        display :inline-block
        float :left
        text-align :right

.payd4
  ul
    li
      p
        width :250px
        height :35px
        line-height :40px
        font-size :15px
        display :inline-block
        float :left
        overflow :hidden
        margin :0 0 0 10px

.payd12
  width :250px
  height :27px
  line-height :40px
  overflow :hidden
  float :left

.payd13
  width :250px
  height :13px
  line-height :15px
  font-size :12px
  overflow :hidden
  float :left

.payd5
  width: 700px
  height :200px
  border-top: 1px solid #000000
  h3
    display :inline-block
    width :700px
    height :30px
    line-height :30px
    font-size :16px
    float :left

.payd5
  .payd6
    width :350px
    height :85px
    float :left
    display :inline-block
    .payd7
      width :80px
      height :85px
      line-height :65px
      text-align :right
      float :left

.payd5
  .payd6
    .payd8
      width :250px
      height :85px
      line-height :65px
      margin :0 0 0 10px
      float :left
      a
        width :35px
        height: 35px
        display : inline-block
        float :left
        margin :20px 0 0 0
        img
          width :35px
          height: 35px

.payd5
  .payd6
    .payd9
      width :250px
      height :85px
      margin :0 0 0 10px
      float :left
      position: relative

.payd9
  .payd10
    width : 250px
    height : 55px
    float :left
    span
      display: inline-block;
      float: left;
      width: 150px;
      background-color: #fff;
      height: 30px;
      line-height: 30px;
      text-align: left;
      overflow: hidden;
      margin : 25px 0 0 0
      font-size: 12px;


.qrly
  width: 50px
  height: 30px
  display: inline-block
  float: left
  color: #000
  line-height :30px
  margin: 20px 0 0 10px
  border-radius: 5px
  text-align: center
  background-color :#67c8ff


.qrly1
  width: 80px
  height: 30px
  display: inline-block
  float: left
  color: #000
  line-height :30px
  margin: 20px 0 0 10px
  border-radius: 5px
  text-align: center
  background-color :#67c8ff

.qrly2
  width: 60px
  height: 25px
  display: inline-block
  float: left
  color: #000
  line-height :25px
  margin: 5px 0 0 10px
  border-radius: 5px
  text-align: center
  background-color :#67c8ff

.qrly:hover,.qrly1:hover,.qrly2:hover
  color :#fff
  background-color : #1b9fdd


.qrly:active,.qrly1:active,.qrly2:active
  position: relative
  top:1px

.payd9
  .payd11
    width : 250px
    height : 30px
    float :left
    a.file2
      width :60px
      height :25px
      display :inline-block
      float :left
      color :black
      margin :2px 0 0 15px
      border-radius :5px
      text-align :center
      line-height :25px
      background-color :#67c8ff

.payd9
  .payd11
    a.file2:hover
      color : #fff
      background-color :#1b9fdd

.payd9
  .payd11
    a.file2:active
      position: relative
      top: 1px

.payd5
  .payd6
    .payd9
      a.file
        position: relative;
        border-radius: 4px;
        text-align: center;
        overflow: hidden;
        color: #000;
        background-color: #ffd066;
        line-height: 30px;
        width: 60px;
        height: 30px;
        margin: 25px 0 0 -1px;
        float: left;

.payd9
  a.file
    input
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      opacity: 0;

.payd9
  a.file2
    float :left
    display :inline-block

.payd9
  .payd14
    position: absolute
    top:0
    left :60px
    width :180px
    height :170px
    border :1px solid #ccc
    z-index :100
    background-color :#fff

.payd9
  .payd14
    li
      width :175px
      height :33px
      line-height :33px
      float: left
      background-color :#fff
      display :inline-block
      margin :0
      font-size :15px
      h5
        width :50px
        height :33px
        float :left
        text-align :center
        font-weight :normal

.payd9
  .payd14
    li.payrop
      width :175px
      height :133px
      float: left
      background-color :#fff
      display :inline-block
      margin :0
      span
        font-size :15px
.payd9
  .payd14
    li.payrop
      .payrop1
        width :150px
        height :99px
        float :left
        margin :0 0 0 20px

.payd15
  width :250px
  height :45px
  line-height :45px
  font-size :15px
  display :inline-block
  float :left
  overflow :hidden
  margin :0 0 0 10px

.payd9
  .payd10
    .tu1
      width :30px
      height :30px
      display :inline-block
      float :left
      margin: 25px 5px 0 0;
      img.tu2
        width :30px
        height :30px
        display :none

.payd9
  .payd10
    .tu1
      img.tu4
        width :30px
        height :30px

.paydelw
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y : scroll
  .payd1w
    width: 750px;
    height: 400px;
    position: relative;
    background-color: #eee;
    margin: 30px auto;
    a.close
      position: absolute
      top:3px
      right: 3px
      width: 25px
      height: 25px
      display: inline-block
      color:#CECECE
      font-size: 25px
      line-height: 25px
      text-align: center
      font-weight: bolder


.payd9
  .payd20
    width :250px
    height :60px
    display :inline-block
    float :left
    line-height :70px


.paydd4
  .paylvzb
    position: absolute
    top: -20px
    left: 80px
    width: 180px
    height: 170px
    border: 1px solid #ccc
    z-index: 100
    background-color: #fff
    li.paylvzb1
      width: 175px
      height: 133px
      float: left
      background-color: #fff
      display: inline-block
      margin: 0
      label
        width :150px
        font-size :13px

.paylvzb
  li.paylvzb1
    .qitaly
      width:140px
      float:left
      height:60px

.paydd4
  .paylvzb
    li.paylvzb2
      width: 175px
      height: 30px
      float: left
      margin :0 0 0 10px

.paydd4
  .paysml
    width: 350px
    height: 20px
    margin: 0
    float: left
    position: relative
    font-size :12px

.padaccr
  margin 10px 0 0 0
  float: left

.paydel1
  position absolute
  top 100px
  left 200px
  width 300px
  height 170px
  background-color #EEEEEE
  z-index 3
  box-shadow 0 0 5px #757575

.paydel2
  height 50px
  line-height 50px
  font-size 16px
  text-align center

.paydel3
  height 60px

.paydel4
  height 30px
  float left
  width 280px
  line-height 30px
  font-size 14px
  a
    color #33A1F0
    text-align center
    width 200px
    display inline-block
    float left
    margin 0 0 0 40px
    text-decoration underline

.paydel4 a:hover
  color #33A1F0

.paydel5
  height 30px
  float left
  width 200px
  line-height 30px
  margin 0 0 0 40px
  text-align center

.paydel6
  height 60px

.paydel7
  width: 100px
  height: 30px
  display: inline-block
  background-color: #bbb
  float: left
  text-align: center
  margin: 5px 10px 0 25px
  line-height: 30px
  font-size: 15px
  color: black

.paydel7:active
  position :relative
  top: 1px

.paydel8
  position absolute
  top -100px
  left -150px
  width 700px
  height 570px
  background-color #eee
  box-shadow 0 0 5px #757575

.paydel9
  width 630px
  height 450px
  float left
  margin 50px 0 0 35px
  background-color #FFFFFF
  overflow-y scroll

.paydel10
  width: 100px
  height: 40px
  display: inline-block
  background-color: #bbb
  float: left
  text-align: center
  margin 20px 0 0 300px
  line-height: 40px
  font-size: 15px
  color: black
  border-radius 5px