/*adslistall.css*/
.adlists1 .adsl1
  width: 970px
  height: 50px
  background-color: #67C8FF

.adsl1 li
  width: 120px
  height: 50px
  background-color: #67C8FF
  margin: 0 0 0 5px
  float: left
  line-height: 50px
  text-align: center
  font-size: 15px
  color: #000011

.adsl2
  float: left
  background-color: #E9F1F3
  margin: 5px 0 3px 0
  height: 70px
  width: 970px

.adsl3
  float: left
  width: 120px
  text-align: center
  margin-left: 5px
  line-height: 70px
  height: 70px
  font-size: 15px
  overflow: hidden
  color: #000011

.adsl4
  width: 110px
  height: 70px
  line-height: 70px
  color:#529CB5

.adl4:active
  position: relative
  top: 1px

.adsl3 p.adsl5
  width: 110px
  height: 70px
  color: #34ACCF
  font-weight: bolder
  line-height: 70px
  text-align: center

/*adsnewadd.css*/
.adsnad
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.adsnad1
  width 620px
  height 420px
  position relative
  background-color #EEEEEE
  margin 30px auto
  text-align left
  border-radius 15px

.adsnad2
  width 580px
  height 210px
  margin 0 auto

.adsnad3
  height 60px

.adsnad3
  span
    width 300px
    height 60px
    float left
    display inline-block
    font-size 17px
    line-height 70px
    color #000000

.adsnad3
  ul
    width 280px
    height 60px
    float left
    display inline-block

.adsnad3
  ul
    li
      width 93px
      height 60px
      float left
      display inline-block

.adsnad3
  ul
    li
      a
        width 70px
        height 35px
        display inline-block
        line-height 35px
        border-radius 5px
        color #000000
        font-size 15px
        background-color #cccccc
        float left
        margin 10px 0 0 10px
        text-align center

.adsnad3
  ul
    li
      a:active
        position relative
        top 1px

.adsnad3
  ul
    li
      a:hover
        color #FFFFFF
        background-color #0092dc

.adsnad3
  .adsnad30
    width 42px
    height 42px
    float left
    margin 8px 0 0 25px
    cursor pointer

.adsnad30:active
  position relative
  top 1px

.adsnad4
  height 150px


.adnadli
  width 290px
  height 50px
  float left
  font-size 14px
  p
    width 180px
    height 50px
    line-height 50px
    display inline-block
    overflow hidden
    float left
    margin-left 10px

.adsnad6
  width 80px
  height 50px
  line-height 50px
  display inline-block
  text-align right
  float left


.btcolor1
  margin 10px 0 0 0
  float right
  width 10px
  height 10px
  text-align center
  display inline-block
  font-size 20px
  color #f00

.adselect
  margin 10px 0 0 15px

.adsnad9
  width 620px
  height 210px
  background-color #CCCCCC
  border-radius 0 0 15px 15px

.adsnad10
  height 30px
  line-height 30px
  text-align center
  font-size 16px

.adsnad11
  height 90px
  span
    width 100px
    height 50px
    font-size 14px
    line-height 50px
    display inline-block
    text-align right
    float left

.adsnad11
  textarea
    color: #000
    height: 70px
    width: 490px
    overflow: hidden
    resize: none
    margin-left: 15px
    border: 1px solid #d9d9d9

.adsl7
  float: left
  width: 90px
  text-align: center
  margin-left: 5px
  line-height: 70px
  height: 70px
  font-size: 15px
  overflow: hidden
  color: #000011

.adsl1
  li.adsl6
    width: 90px
    height: 50px
    background-color: #67C8FF
    float: left
    line-height: 50px
    text-align: center
    font-size: 15px
    color: #000011

.adtsfw1
  position absolute
  top 0
  left 10px
  border-radius 15px
  box-shadow 0 0 10px #333
  width 600px
  height 300px
  background-color #eee
  p
    width 540px
    height 170px
    display inline-block
    float left
    margin 30px 0 0 30px
    line-height 28px
    font-size 14px
    text-indent 26px

.adtsfw1
  .adtsfw2
    width 100px
    height 40px
    line-height 40px
    color #fff
    background-color #0092d7
    border-radius 10px
    float left
    text-align center
    font-size 15px
    margin 30px 0 0 240px