.cwbadd
  background rgba(0, 0, 0, 0.4)
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 100
  overflow-y scroll

.cwbadd1
  width 650px
  height 550px
  position relative
  background-color #EEEEEE
  margin 30px auto
  border-radius 10px

.cwbadd2
  width 600px
  height 550px
  margin 0 0 0 25px

.cwbadd3
  height 50px
  border-bottom 1px solid #000
  sapn
    width 400px
    height 50px
    line-height 60px
    font-size 17px
    display inline-block
    float left
    
.cwbadd7
  width 80px
  height 30px
  background-color #67C8FF
  color #FFFFFF
  display inline-block
  float left
  margin 10px 10px 0 20px
  text-align center
  font-size 14px
  border-radius 5px
  line-height 30px

.cwbadd7:hover
  color #08498D

.cwbadd8
  text-align center
  font-size 14px
  border-radius 5px
  width 60px
  height 30px
  background-color #cccccc
  color #FFFFFF
  display inline-block
  float left
  margin 10px 0 0 10px
  line-height 30px

.cwbadd4
  height 100px
  font-size 13px

.cwbadd16
  width 300px
  height 50px
  float left
  display inline-block
  h4
    float left
    display inline-block
    width 90px
    height 50px
    line-height 50px
    text-align right
    font-weight normal
    margin 0 10px 0 0

.cwbadd16
  p
    float left
    display inline-block
    width 200px
    height 50px
    line-height 50px

.cwbadd14
  width 200px
  height 30px
  margin 10px 0 0 0
  float left

.cwbadd5
  height 250px
  font-size 13px
  h4
    float left
    display inline-block
    width 90px
    height 50px
    line-height 50px
    text-align right
    font-weight normal
    margin 0 10px 0 0

.cwbadd9
  width 500px
  height 250px
  float left

.cwbadd10
  width 500px
  height 50px
  float left

.cwbadd11
  width 160px
  height 50px
  float left
  margin 0 0 0 5px
  h6
    float left
    display inline-block
    width 60px
    height 50px
    line-height 50px
    text-align center
    font-weight normal

.cwbadd12
  width 100px
  height 30px
  margin 10px 0 0 0
  float left

.cwbadd13
  width 60px
  height 30px
  margin 10px 0 0 0
  float left

.cwbadd6
  height 150px
  font-size 13px

.cwbadd17
  width 300px
  height 50px
  float left
  display inline-block
  h5
    float left
    display inline-block
    width 90px
    height 50px
    line-height 50px
    text-align right
    font-weight normal
    margin 0 10px 0 0

.cwbadd15
  width 200px
  height 30px
  margin 10px 0 0 0
  float left

.cwbadd18
  height 50px
  font-size 13px

.cwbadd19
  width 300px
  height 50px
  float left
  display inline-block
  h4
    float left
    display inline-block
    width 90px
    height 50px
    line-height 50px
    text-align right
    font-weight normal
    margin 0 10px 0 0

.cwbadd20
  height 200px
  font-size 13px
  h4
    float left
    display inline-block
    width 90px
    height 50px
    line-height 50px
    text-align right
    font-weight normal
    margin 0 10px 0 0

.cwbadd21
  width 500px
  height 200px
  float left

.cwbadd22
  height 50px
  font-size 13px

.cwbadd23
  width 200px
  height 50px
  float left
  h4
    float left
    display inline-block
    width 70px
    height 50px
    line-height 50px
    text-align right
    font-weight normal
    margin 0 10px 0 0

.cwbadd23
  p
    display inline-block
    width 10px
    height 50px
    float left
    line-height 50px