.Z-select
  display: inline-block
  font-size :12px
  position :relative
  margin: 5px 0 0 5px
  .zs-nones
    width: 122px
    height: 106px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 34px
    display:none

.Z-select
  .zs-blok
    width: 120px
    height: 170px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 29px
    position: absolute
    left: 0px
    top: 0px
    z-index :2

.Z-select
  input
    width: 120px
    outline: none
    line-height: 30px
    height: 30px
    border: 1px solid #999

.Z-select1
  display: inline-block
  font-size :12px
  position :relative
  .zs-nones
    width: 122px
    height: 106px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 34px
    display:none

.Z-select1
  .zs-blok
    width: 180px
    height: 170px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 29px
    position: absolute
    left: 0px
    top: 0px
    z-index :2

.Z-select1
  input
    width: 180px
    outline: none
    line-height: 30px
    height: 30px
    border: 1px solid #999

.Z-select2
  display: inline-block
  font-size :12px
  position :relative
  margin: 5px 0 0 5px;
  .zs-nones
    width: 122px
    height: 106px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 34px
    display:none

.Z-select2
  .zs-blok
    width: 200px
    height: 170px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 29px
    position: absolute
    left: 0px
    top: 0px
    z-index :2

.Z-select2
  input
    width: 200px
    outline: none
    line-height: 30px
    height: 30px
    border: 1px solid #999

.Z-select3
  display: inline-block
  font-size :12px
  position :relative
  margin: 5px 0 0 5px
  .zs-nones
    width: 122px
    height: 106px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 34px
    display:none

.Z-select3
  .zs-blok
    width: 150px
    height: 170px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 29px
    position: absolute
    left: 0px
    top: 0px
    z-index :2

.Z-select3
  input
    width: 150px
    outline: none
    line-height: 30px
    height: 30px
    border: 1px solid #999

.Z-select4
  display: inline-block
  font-size :12px
  position :relative
  margin: 0 0 0 15px;
  .zs-nones
    width: 122px
    height: 106px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 34px
    display:none

.Z-select4
  .zs-blok
    width: 200px
    height: 170px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 29px
    position: absolute
    left: 0px
    top: 0px
    z-index :2

.Z-select4
  input
    width: 200px
    outline: none
    line-height: 30px
    height: 30px
    border: 1px solid #999

.Z-select5
  display: inline-block
  font-size :12px
  position :relative
  .zs-nones
    width: 122px
    height: 106px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 34px
    display:none

.Z-select5
  .zs-blok
    width: 120px
    height: 170px
    margin: 0
    outline: none
    border: 1px solid #999
    margin-top: 29px
    position: absolute
    left: 0px
    top: 0px
    z-index :2

.Z-select5
  input
    width: 120px
    outline: none
    line-height: 30px
    height: 30px
    border: 1px solid #999