.Pmanagefwpage
  height: 100%

/*pfwmid.css*/
.pmc6
  width: 700px
  height: 20px
  float: right
  font-size: 12px
  margin: -10px 0 0 0

.pmc6 ul li
  width: 160px
  height: 20px
  line-height: 20px
  float: left

.pmc6 ul li img
  display: inline-block
  float: left
  margin: 0 5px 0 0

.pmc6 ul li .pmc7
  width: 65px
  height: 20px
  display: inline-block
  float: left
  margin: 2px 0 0 0

.pmc6 ul li i
  width: 35px
  height: 15px
  display: inline-block
  background-color: #EB6A40
  float: left
  margin: 5px 5px 0 0

.pmc6 ul li.pmc8
  width: 210px
  height: 20px
  line-height: 20px
  float: left

.pmc6 ul li .pmc9
  width: 150px
  height: 20px
  display: inline-block
  float: left

.pmc6 ul li p
  width: 50px
  height: 20px
  float: left
  display: inline-block
  margin: 2px 0 0 0

.pmc6 ul li a
  width: 50px
  height: 20px
  display: inline-block
  background-color: #4291BC
  color: #ffffff
  float: left

.pmc6 ul li a:active
  position: relative
  top: 1px

.pmsh2
  width: 1050px
  height: 40px
  background-color: #67c8ff
  box-shadow: 0 1px 1px #000
  .adsli
    width: 250px
    height: 35px
    float: left
    color: #001
    font-size: 15px
    text-align: right
    label
      font-size: 16px

.pmsh2
  .adsli1
    width: 350px
    height: 40px
    float: left
    color: #001
    font-size: 15px
    text-align: right
    .adage
      background-color: #5895b2
      display: inline-block
      width: 60px
      height: 30px
      margin: 5px 10px
      box-shadow: 0 1px 1px #000
      color: #000
      text-align: center