.newl
  width 1200px
  height 60px
  margin 10px auto 5px auto
  .newl2
    float left
    width 129px
    height 30px
    border 1px solid #FEA53F
    position relative
    h4.newlh4
      height 28px
      line-height 28px
      font-size 14px
      font-weight normal
      background-color #BF7B30
      color #ffffff
      text-align center

.newl1
  width :920px
  height :30px
  float :left

.newl3
  width :260px
  height 180px
  background-color :#ffffff
  border :1px solid #cccccc
  position :absolute
  z-index :100
  h3
    width :240px
    height :30px
    margin 0 auto
    line-height :30px
    font-size :14px
    text-align :center
    border-bottom :1px dashed #cccccc

.newl3
  h5
    width :240px
    height :60px
    margin 0 auto
    line-height :20px
    font-size :13px
    border-bottom :1px dashed #cccccc
    text-indent: 2em

.newl3
  ul
    width :240px
    height :90px
    margin :5px auto

.newl3
  ul.newl3-1
    width :240px
    height :60px
    margin :5px auto

.newl3
  a
    display :block
    width :150px
    height :30px
    background-color :#FF8B34
    text-align :center
    font-size :14px
    color :black
    line-height :30px
    margin :10px auto

.newl3
  a:hover
    color :black

.newl3
  a:active
    position :relative
    top:1px

.newl3
  .newlsp
    display :block
    width :150px
    height :30px
    background-color :#FF8B34
    text-align :center
    font-size :14px
    color :black
    line-height :30px
    margin :10px auto

.getxp
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll
  .getxp1
    width: 300px
    height: 200px
    position: relative
    background-color: #eee
    margin: 100px auto
    .getxp2
      position: absolute
      top: 3px
      right: 3px
      width: 15px
      height: 15px
      display: inline-block
      color: #cecece
      font-size: 15px
      line-height: 15px
      text-align: center
      font-weight: bolder

.getxp3
  width: 280px
  height: 200px
  margin: 0 auto
  .getxp4
    height :90px
    h4
      display :block
      width :100px
      height :50px
      line-height :50px

.getxp4
  .getxp4-s
   margin :0 40px

.getxp5
  height :50px
  .getxp6
    width: 100px
    height: 30px
    display: inline-block
    background-color: #bbb
    float: left
    text-align: center
    margin: 5px 10px 0 25px
    line-height: 30px
    font-size: 15px
    color: black
    
.getxp6:active
  position :relative
  top: 1px

.getxp7
  height 60px

.getxp7s
  height 60px
  padding-left 50px

.getxp7ss
  width 300px
  margin 0 auto

.getxp8
  height 30px
  float left
  width 280px
  line-height 30px
  font-size 14px
  a
    color #33A1F0
    text-align center
    width 200px
    display inline-block
    float left
    margin 0 0 0 40px
    text-decoration underline

.getxp8 a:hover
  color #33A1F0

.getxp9
  height 30px
  float left
  width 200px
  line-height 30px
  margin 0 0 0 40px
  text-align center

.getxp10bg
  position fixed
  top 0
  left 50%
  bottom 0
  width 750px
  height 800px
  margin-left -400px
  background #eee
  z-index 999

.getxp10
  position absolute
  top -50px
  left -200px
  width 700px
  height 570px
  background-color #eee

.getxp10s
  position fixed
  top 50%
  left 50%
  width 700px
  height 570px
  background-color #eee
  margin-top -360px
  margin-left -350px
  z-index 2000
  .getxp11 
    height 600px

.getxp11
  width 630px
  height 450px
  float left
  margin 50px 0 0 35px
  background-color #FFFFFF
  overflow-y scroll

.getxp12
  width: 100px
  height: 40px
  display: inline-block
  background-color: #bbb
  float: left
  text-align: center
  margin 20px 0 0 300px
  line-height: 40px
  font-size: 15px
  color: black
  border-radius 5px

.newl4
  float :left
  width :800px
  height: 30px
  h5
    width 400px
    height: 30px
    float :left
    line-height :30px
    color: #06BAD1
    font-size :17px
    display :inline-block

.newl4
  span
    width 400px
    height: 30px
    float :left
    line-height :30px
    color: #323232
    font-size :13px
    display :inline-block

.newla
  width 60px
  height 60px
  float right
  margin -30px 40px 0 0
  background-color #cccccc
  border-radius 30px
  cursor pointer
  span
    width 30px
    height 30px
    display inline-block
    line-height 15px
    font-size :15px
    color #333333
    margin 15px 0 0 15px

.newla:hover
  background-color #4391BD

.newla:active
  position:relative
  top: 1px

.newlb
  width 60px
  height 60px
  float right
  margin -30px 10px 0 0
  background-color #67AAF0
  border-radius 30px
  cursor pointer
  span
    width 30px
    height 30px
    display inline-block
    line-height 15px
    font-size :15px
    color #ffffff
    margin 15px 0 0 15px

.newlb:hover
  background-color #4391BD

.newlb:active
  position:relative
  top: 1px

.row
  width: 600px
  height: 50px
  margin: 0 auto
  h4
    display :block
    width :100px
    height :50px
    line-height :50px
  Select
    width :200px
    height :50px

.element
  position:absolute
  width: 600px
  height: 50px
  top:0
  left:0

.ttttt
  position:absolute
  left: 120px
  top:50px
  width: 120

.hhhhhhh
  position:absolute
  left: 20px
  top:50px
  width: 80px