.medpage
  height :100%

.medyjad
  background: rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  overflow-y : scroll

.medyjad1
  width: 700px
  height: 400px
  position: relative
  background-color: #EEEEEE
  margin: 30px auto

.medyjadcl
  position: absolute
  top:3px
  right: 3px
  width: 20px
  height: 20px
  display: inline-block
  color:#CECECE
  font-size: 20px
  line-height: 25px
  text-align: center
  font-weight: bolder

.medyjadcl:active
  position: absolute
  top:4px

.medyjad2
  width: 650px
  height: 400px
  margin: 0 auto
  font-size: 15px
  .medyjad3
    height: 50px
    border-bottom: 1px solid #000000
    span
      width: 550px
      height: 49px
      float: left
      display: inline-block
      font-size: 17px
      line-height: 50px
      margin-left:30px
      color: #000000

.medyjad3
  a
    width :60px
    height :49px
    line-height: 50px
    font-size: 15px

.medyjad3
  a:active
    position :relative
    top:1px

.medyjad4
  height :300px
  ul
    li.meda
      width :300px
      height :40px
      float :left
      margin :10px 0 0 0
      h5
        display :inline-block
        float :left
        width :80px
        height 40px
        line-height :40px
        text-align center

.medyjad5
  width :50px
  height :40px
  line-height 40px
  color:blue
  float left